[2020-11-13 03:03] ShaneYS commented on #451
same error, anyone solved?

[2020-11-13 05:12] Nedae commented on #567
@kevinch-nv can you help please?

[2020-11-13 05:43] Nedae commented on #567
@linkerzhang , @askhade can you help please?

[2020-11-13 06:09] #150 closed

[2020-11-13 18:07] phamdat09 commented on #566
I figure out that the problems come from the function `torch.BatchNorm1d` ( I convert pytorch -> onnx -> tensorrt).

[2020-11-13 18:08] phamdat09 commented on #180
I had the same issue :))

[2020-11-13 18:33] kevinch-nv commented on #180
@phamdat09 can you provide the model you are having troubles with?

[2020-11-13 20:46] phamdat09 commented on #180
Yes !! Here is my model [https://drive.google.com/file/d/1UUkasZSCbPvyq7-qATxHdliugK5i6aQi/view?usp=sharing](https://drive.google.com/file/d/1UUkasZSCbPvyq7-qATxHdliugK5i6aQi/view?usp=sharing)
I use the pytorch -> onnx with opset=12. Then, I figure out that  the problems come from the `torch.BatchNorm1d`

[2020-11-13 20:49] pranavm-nvidia commented on #566
[This PR](https://github.com/onnx/onnx-tensorrt/pull/569) should fix it.

[2020-11-15 13:18] undefined-references commented on #376
I have also written a detailed explanation on how to build onnx-tensorrt on jetson nano with jetpack 4.3 [here](https://github.com/neuralet/smart-social-distancing/issues/62#issuecomment-699624806).

[2020-11-16 14:41] yanjunyangmonash opened #570 "make -j8 error"
Hi, I used the command `cmake .. -DTENSORRT_ROOT=/home/yanjun/Documents/TensorRT-7.0.0.11 -DGPU_ARCHS="75"` and got this error with `sudo make -j8`

cuda version: release 10.0, V10.0.130
cudnn version: v7.6.5.32
TensorRT version: 7.0.0.11
onnx-tensorrt branch: 7.0

**the full error log is attached below**:
[  1%] Running gen_proto.py on onnx/onnx.in.proto
Processing /home/yanjun/Downloads/onnx-ten

[2020-11-16 16:57] eric-tc commented on #529
Hi @golden0080 have you found a way to have custom plugin? I am also interested in this feature. Thanks

[2020-11-16 18:32] golden0080 commented on #529
@eric-tc You would need to import the underlying implementation class of `OnnxParser` and that implementation class should direct you to how to handle custom ops (or any ops).

[2020-11-16 18:36] golden0080 commented on #529
Instead of using TensorRT provoded API to create `IParser`, try to create a parser with this class (or subclass it) here:
https://github.com/onnx/onnx-tensorrt/blob/master/ModelImporter.hpp#L37

[2020-11-16 18:49] matthill opened #571 "Compile error due to std::move"
Compiling against the latest software on Ubuntu 20.04 and GCC 9, I get the following error:

cmake/external/onnx-tensorrt/builtin_op_importers.cpp: In function ‘std::vector<nvinfer1::PluginField> onnx2trt::{anonymous}::loadFields(string_map<std::vector<unsigned char> >&, const OnnxAttrs&, const nvinfer1::PluginFieldCollection*)’:

cmake/external/onnx-tensorrt/builtin_op_importers.cpp:3737:21: erro

[2020-11-17 13:23] #570 closed

[2020-11-17 13:23] yanjunyangmonash commented on #570
Use make -j8 and sudo make install solve this issue

[2020-11-18 06:43] wnzhyee commented on #520
I have same problems, any update for this?

[2020-11-19 00:55] zahidzqj commented on #328
error：[TensorRT] ERROR: Parameter check failed at: engine.cpp::enqueue::393, condition: bindings[x] != nullptr

How to solve this problem?

[2020-11-19 02:58] niaoyu opened #575 "[TensorRT] ERROR: myelin/myelinUtils.cpp (132) - Myelin Error in gateMyelinGraphStartOnStream: 700 ()"
Hi， I found a strange problem.

I processed the input image with following code and then process them with trt engine(torch->onnx->trt)：
[code]

When I add the line "# frame = cv2.resize(frame, (288, 512))" just commented in the code, the trt shows error :
[code]
I am so confusing about these.

[2020-11-19 09:20] CMangoDH commented on #400
I have the same error with my code.
I find a tool can solve the problem:[(https://github.com/NVIDIA/TensorRT/tree/master/tools/onnx-graphsurgeon)].
I find the way here [https://forums.developer.nvidia.com/t/exporting-tensorflow-models-to-jetson-nano/154185/11]

1. Install ONNX Graphsurgeon API
[code]

2. Modify your model
[code]

[2020-11-19 11:12] vladimirmujagic opened #576 "Tensorrt7 Python vs C++ inference"

[2020-11-19 11:19] niaoyu commented on #575
Sry , I figured out the reason which I used the trt6 inference code in the trt7

[2020-11-19 11:19] #575 closed

[2020-11-19 18:54] vladimirmujagic commented on #576
Issue with memory copy, solved.

[2020-11-19 18:54] #576 closed

[2020-11-20 07:42] #477 closed

[2020-11-20 09:57] buptstehc commented on #401
Really need this operation, too!

[2020-11-20 16:46] olferuk commented on #374
Any updates?

[2020-11-22 10:54] sudapure opened #577 "pytorch export to onnx with specific output layers"
Am trying to export pytorch network to ONNX and then onnx to tensorrt for faster inferencing , but i need to get the output of layer(avg_pool) prior to final softmax layer or any layer in between, model[-N] , so as per following image, the avgpool layer is named as **GlobalAveragePool**, which returns 512-d feature vector as output tensor, here i am using pretrained resnet-18 model as a sample net

[2020-11-23 02:41] hegc opened #578 "pytorch relu6 can't be transferred to tensorRT"
Pytorch Relu6 is transferred to the Clip of Onnx, but using trtexec tool, the generated engine can't inference rightly!
[https://github.com/NVIDIA/TensorRT/issues/904](https://github.com/NVIDIA/TensorRT/issues/904)

I wonder if the Relu6 can be transferred to tensorRT?

Any help from you will be greatly appreciated.

[2020-11-23 15:06] mfruhner commented on #545
I tried again with the latest commit and it seems to work now, thanks!

[2020-11-23 15:06] #545 closed

[2020-11-24 02:28] #578 closed

[2020-11-24 04:21] hongsamvo commented on #180
@phamdat09 I got error with BatchNorm1d layer too, did you find the solution?

[2020-11-24 19:21] phamdat09 commented on #180
yes!! With the latest commit, they already fixed it !!

[2020-11-24 19:48] nlunscher-cpr commented on #378
any solutions found that can be shared or released in a new version?

[2020-11-25 03:10] hongsamvo commented on #180
@phamdat09 thank you!

[2020-11-25 06:16] duducode opened #580 "[ 4%] Built target gen_onnx_proto [ 26%] Built target onnx_proto [ 28%] Building CUDA object CMakeFiles/nvonnxparser_plugin.dir/FancyActivation.cu.o nvcc fatal : redefinition of argument 'std' CMakeFiles/nvonnxparser_plugin.dir/build.make:81: recipe for target 'CMakeFiles/nvonnxparser_plugin.dir/FancyActivation.cu.o' failed make[2]: *** [CMakeFiles/nvonnxparser_plugin.dir/FancyActivation.cu.o] Error 1 CMakeFiles/Makefile2:250: recipe for target 'CMakeFiles/nvonnxparser_plugin.dir/all' failed make[1]: *** [CMakeFiles/nvonnxparser_plugin.dir/all] Error 2 Makefile:170: recipe for target 'all' failed make: *** [all] Error 2"

[2020-11-26 09:30] duducode opened #581 "Cannot run global average pool on an input with dynamic spatial dimensions!"
the model exported   torch1.5  and the  onnx1.6,onnx-tensorrt-7.0

[2020-11-26 13:52] mrunal-byt opened #582 "Alternative to loading the onnx model"
[code]

I want to run this code frequently and this code takes a long time to run because of loading and preparing the backend.
Is there an alternative that reduces this time. All I want is save the backend model somewhere and load that model only,  so that it might take lesser time to run.

[2020-11-27 07:15] berkantay opened #583 "torch.Tensor input to the engine"
Hello, I have trained my custom object detection weights on yolov5 then I got export in ```.onnx``` format. Now I want to use TensorRT engine for speed but when I take my model and feed it to the engine it gets numpy as input. This means that the frames are stored in CPU. How should I pass my images to the engine in torch.Tensor format.

Best Regards.

Before TensorRT 12.5 FPS

After TensorRT 6 FP

[2020-11-29 18:23] volpepe commented on #562
I'm having the same problem, did you find a solution?

[2020-11-29 18:40] mmaaz60 commented on #562
Yes, I got done with this. As you can see it's the Clip layer that was causing trouble. You must set the max value in the Clip layer to convert it from ONNX to TensorRT engine. You can edit the ONNX graph to achieve this.

[2020-11-29 18:52] volpepe commented on #562
Alright, thanks! I wasn't aware that the ONNX graph could be edited!

[2020-11-30 12:41] RunningLeon commented on #401
Same issue. Wonder are there any practical reasons that this OP should not be included in TensorRT?

[2020-11-30 13:48] onionysy opened #584 "make -j8 error?why?"
there are something wrong when I make.

`ysy@ubuntu:~/3rdparty/onnx-tensorrt/build$ cmake .. -DTENSORRT_ROOT=/home/ysy/3rdparty/TensorRT-6.0.1.5/lib
-- The CXX compiler identification is GNU 5.4.0
-- The C compiler identification is GNU 5.4.0
-- The CUDA compiler identification is NVIDIA 10.0.130
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX

[2020-12-01 16:19] kevinch-nv commented on #87
Closing due to inactivity - if this can be reproduced on the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:19] #87 closed

[2020-12-01 16:20] kevinch-nv commented on #115
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:20] #115 closed

[2020-12-01 16:21] kevinch-nv commented on #19
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:21] #19 closed

[2020-12-01 16:21] kevinch-nv commented on #35
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:21] #35 closed

[2020-12-01 16:22] kevinch-nv commented on #43
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:22] #43 closed

[2020-12-01 16:22] kevinch-nv commented on #66
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:22] #66 closed

[2020-12-01 16:23] kevinch-nv commented on #149
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:23] #149 closed

[2020-12-01 16:24] kevinch-nv commented on #153
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:24] #153 closed

[2020-12-01 16:24] kevinch-nv commented on #157
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:24] #157 closed

[2020-12-01 16:24] kevinch-nv commented on #161
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:24] #161 closed

[2020-12-01 16:25] kevinch-nv commented on #167
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:25] #167 closed

[2020-12-01 16:25] kevinch-nv commented on #175
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:25] #175 closed

[2020-12-01 16:29] kevinch-nv commented on #180
Closing this issue as it's now fixed.

[2020-12-01 16:29] #180 closed

[2020-12-01 16:30] kevinch-nv commented on #181
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:30] #181 closed

[2020-12-01 16:30] kevinch-nv commented on #194
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:30] #194 closed

[2020-12-01 16:31] kevinch-nv commented on #197
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:31] #197 closed

[2020-12-01 16:32] kevinch-nv commented on #269
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:32] #269 closed

[2020-12-01 16:36] kevinch-nv commented on #271
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:36] #271 closed

[2020-12-01 16:37] kevinch-nv commented on #272
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:37] #272 closed

[2020-12-01 16:37] kevinch-nv commented on #273
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:37] #273 closed

[2020-12-01 16:37] kevinch-nv commented on #274
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:37] #274 closed

[2020-12-01 16:37] kevinch-nv commented on #283
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:37] #283 closed

[2020-12-01 16:42] kevinch-nv commented on #286
We've recently made some upgrades to the onnx-tensorrt Python backend that should streamline it's installation.

As for the onnx2trt executable, we plan on deprecating it in a future release. I would recommend using our command line tool [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) to quickly run and benchmark ONNX models.

If you are still having issues wit

[2020-12-01 16:42] #286 closed

[2020-12-01 16:42] kevinch-nv commented on #294
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:42] #294 closed

[2020-12-01 16:43] kevinch-nv commented on #307
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:43] #307 closed

[2020-12-01 16:43] kevinch-nv commented on #309
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:43] #309 closed

[2020-12-01 16:44] kevinch-nv commented on #315
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:44] #315 closed

[2020-12-01 16:48] kevinch-nv commented on #318
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:48] #318 closed

[2020-12-01 16:48] kevinch-nv commented on #325
Closing due to inactivity - if you are still having issues with the latest version of onnx-tensorrt feel free to open a new issue.

[2020-12-01 16:48] #325 closed

[2020-12-01 16:53] kevinch-nv commented on #327
The greater operator has been supported since TRT 7.0. We are still working on supporting non-zero. Closing this issue.

[2020-12-01 16:53] #327 closed

[2020-12-01 16:59] kevinch-nv commented on #328
I would recommend folks who are having trouble with importing their ONNX networks with dynamic shapes into TensorRT to first use our CLI binary [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) with the latest TensorRT version to rule out the misuse of TRT APIs.

If your model still cannot be parsed / run, please open a new issue and attach information about your

[2020-12-01 16:59] #328 closed

[2020-12-01 17:00] kevinch-nv commented on #329
@zhoulukuan are you still having issues with your model? Are you able to reproduce on the latest TRT version?

[2020-12-01 17:01] kevinch-nv commented on #330
We've added support for LSTMs in TRT 7.0. Please try using the latest TensorRT version to parse any LSTM models you have.

Closing this issue for now, feel free to open a new one if you are still having trouble with the latest TensorRT version.

[2020-12-01 17:01] #330 closed

[2020-12-01 17:06] kevinch-nv commented on #332
@SherlockHua1995  @mlb810  are you still having issues?

[2020-12-01 17:07] kevinch-nv commented on #335
@tibistrat we've made some updates to our slice importer over the TRT versions. Are you still able to repro with the latest TRT version?

[2020-12-01 17:25] kevinch-nv commented on #336
All ONNX plugins that were previously held in the repo has either:

1. Moved into the main TensorRT Plugin repository (as noted by @ttyio above), or
2. Been deprecated for native TRT layers over the releases.

In the most recent onnx-tensorrt releases (>= 7.0), there is no longer any plugin code in the repository.

[2020-12-01 17:25] #336 closed

[2020-12-01 17:27] kevinch-nv commented on #337
@jinfagang are you able to repro the segfault on the latest version of onnx-tensorrt?

Also I've noticed that there is a NMS operator in the graph that we currently do not support.

I will be closing this as a duplicate of #267

[2020-12-01 17:28] #337 closed

[2020-12-01 17:29] kevinch-nv commented on #339
@schabc @yuluhan are you able to reproduce this issue with the latest version of TensorRT?

[2020-12-01 17:30] kevinch-nv commented on #342
Hi @verigle we've made some updates to the onnx-tensorrt backend over the past few TRT releases. Are you able the reproduce this with the latest version of onnx-tensorrt?

[2020-12-01 17:32] kevinch-nv commented on #343
As mentioned in #336, all previous ONNX plugins now live in the main TensorRT repo, and are provided prebuilt in the shipped libnvinferplugin.so library. Please link your application with the provided plugin library to use the InstanceNormalization plugin.

[2020-12-01 17:32] #343 closed

[2020-12-01 17:33] kevinch-nv commented on #344
@chiehpower are you still having the same error trace when running with the latest TensorRT version?

[2020-12-01 17:37] kevinch-nv commented on #346
Hi @xiaoga501, if you want to test whether or not an ONNX model can run with TensorRT, I recommend using our CLI tool [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) with the latest TensorRT version release.

I'm going to close this issue for now, feel free to reopen it if you have any further issues.

[2020-12-01 17:37] #346 closed

[2020-12-01 17:38] kevinch-nv commented on #347
Closing this issue as it seems it has been solved.

[2020-12-01 17:38] #347 closed

[2020-12-01 17:47] kevinch-nv commented on #350
I've recently modernized the setup.py installation script in https://github.com/onnx/onnx-tensorrt/pull/559. Can you try running the updated setup.py?

[2020-12-01 17:48] kevinch-nv commented on #351
Later releases of TensorRT supports opset11. You can check the latest support matrix [here](https://github.com/onnx/onnx-tensorrt/blob/master/operators.md)

[2020-12-01 17:48] #351 closed

[2020-12-01 17:54] kevinch-nv commented on #352
We've removed the old docker images and consolidated them with the main TensorRT images in the 7.2 release. You can see the README on the master branch for more information on this, and please use those docker images moving forward.

[2020-12-01 17:54] #352 closed

[2020-12-01 17:55] kevinch-nv commented on #354
Closing this issue as it's been solved (clone with the recursive option to initialize submodules).

[2020-12-01 17:55] #354 closed

[2020-12-02 00:41] chiehpower commented on #344
Hi @kevinch-nv ,

Thanks for your concern!
Because I left that issue for a long time, I thought I already resolved it!
Thanks again!

[2020-12-02 02:18] ayicherry opened #585 "TensorRT upsample error"
My pytorch version is 1.6.0，onnx version is 1.7.0，python version is 3.8,  tensorRT version is 7.2.
When I use torch to change model to onnx，I use opset==11，and it can success. However I use tensorRT to parse the onnx model,
it occurs an error when parsing node [Resize] (actually it's nn.upsample in network).
I have tried some ways to solve this problem, but all failed....

[2020-12-02 03:35] zhoulukuan commented on #329
Yes. I can reproduce with opset 11. However, I adjusted the model later and did not use special operations such as GN. I am not sure if this has any effect.

[2020-12-02 03:35] #329 closed

[2020-12-02 09:03] sophieyl commented on #339
I think if you can not use the reshape node, how about doing reshape operation out of the model.

[2020-12-03 09:13] joeqincai commented on #411
@cvhuang I also fixed this error that all have same errors: inputs.at(1).is_weights(). by setting --opset 9, you are right.

[2020-12-03 16:27] kevinch-nv commented on #344
Thanks, closing this issue.

[2020-12-03 16:27] #344 closed

[2020-12-04 10:34] kochsebastian opened #586 "What does min and max clip values must be an initializer mean?"
I want to use clip in my network. When converting to TensorRT I get "Clip max value must be an initializer!"
I think it's easily solvable but I just don't know what that means.
Clarification or explanation would be nice

[2020-12-04 14:41] batrlatom commented on #411
Could you please share your code snippet?

[code]

[2020-12-06 14:23] wwdok commented on #470
Me too, i want to know the meaning of "pass_1;pass_2;pass_3", without more explanation, i totally have no idea what it is...

[2020-12-07 03:07] alicera opened #587 "onnx2trt"
[TensorRT] WARNING: onnx2trt_utils.cpp:246: One or more weights outside the range of INT32 was clamped

What does it mean?

[2020-12-07 17:09] sandeepganage opened #588 "Error in Reshape - Conversion of VGG19 to TensorRT Engine - "reshaping failed for tensor: convolution_output""
I am trying to convert a VGG19 segmentation network (ONNX) to TensorRT engine.

Following is the network architecture :

![ONNX_Model](https://user-images.githubusercontent.com/2736219/101380664-cf30b080-38db-11eb-847e-784a539a1bef.png)

I am running following command to convert the ONNX to tensorRT engine:
"trtexec.exe --onnx="onnx-model-path\model.onnx" --saveEngine="out-engine-path\Model.engine

[2020-12-07 17:15] simutisernestas commented on #378
@rmccorm4 problem is still relevant

[2020-12-07 17:24] simutisernestas commented on #455
@rgc183 did you solve it?

[2020-12-07 17:24] simutisernestas commented on #478
@KevenLee any success with this?

[2020-12-09 03:11] alicera commented on #587
I try to use the yolov5 onnx
onnx2trt yolov5s.onnx -o yolo.trt

----------------------------------------------------------------
Input filename:   yolov5s.onnx
ONNX IR version:  0.0.6
Opset version:    12
Producer name:    pytorch
Producer version: 1.7
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
Parsing model
[2020-12-09 03:09:39 WARNING

[2020-12-09 06:38] John-Yao commented on #323
@martin-91x
Have you figure out how  to implement a plugin for depthwise correlation. I am also trying to implement xcorr in tensorrt.
I wil appreciate it if you share your solution.

[2020-12-09 08:50] cvhuang commented on #411
I don't fully understand how this work. Here are some insights. Hope it can help.

Pay attention to x1 = F.pad(x1, [x, y, w, h]) in your code. Make sure x, y, w is a constant not torch.tensor type or dynamic.

instead of
h, w = x.shape[-2:]
use
h, w = x.cpu().detach().numpy().shape[-2:]
in
x1 = F.pad(x1, [x, y, w, h])

This is what I learn from   https://github.com/murdockhou/Yet-Another-Efficient

[2020-12-10 07:02] Mirocle007 commented on #478
@KevenLee find any solution?

[2020-12-10 07:27] #473 closed

[2020-12-10 11:22] SBodenstedt commented on #452
I am encountering the exact same issue, did you ever find a solution?

[2020-12-10 20:42] pranavm-nvidia commented on #588
@sandeepganage Can you provide verbose logs as well? i.e. add `--verbose` to your trtexec command-line

[2020-12-10 20:45] pranavm-nvidia commented on #586
An initializer in ONNX is just a constant in the graph. It sounds like in your case, the max value is being computed at inference time.

[2020-12-11 01:34] c00351912 opened #592 "This version of TensorRT only supports padding on the outer two dimensions"
[12/11/2020-01:32:45] [I] === Model Options ===
[12/11/2020-01:32:45] [I] Format: ONNX
[12/11/2020-01:32:45] [I] Model: convert_pb.onnx
[12/11/2020-01:32:45] [I] Output:
[12/11/2020-01:32:45] [I] === Build Options ===
[12/11/2020-01:32:45] [I] Max batch: explicit
[12/11/2020-01:32:45] [I] Workspace: 16 MiB
[12/11/2020-01:32:45] [I] minTiming: 1
[12/11/2020-01:32:45] [I] avgTiming: 8
[12/11/2020-01

[2020-12-11 01:41] c00351912 commented on #592
tf2onnx
Operator   SpaceToBatchND in tensorflow is replaced by  paddding  +
Transpose +
SpaceToDepth + Transpose Operator   in onnx
and  i read the source code  in  tensor.py
The operator is also SpaceToBatchND  analytic in this way。
but pads = [0, top, left, 0, 0, bottom, right, 0]  ，tensorrt  not supports padding on the outer two dimensions!
How can I solve this problem?

[2020-12-11 01:47] c00351912 commented on #592
Input filename:   convert_pb.onnx
ONNX IR version:  0.0.6
Opset version:    11
Producer name:    tf2onnx
Producer version: 1.8.0
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
[12/11/2020-01:43:38] [W] [TRT] onnx2trt_utils.cpp:220: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempt

[2020-12-11 01:54] #592 closed

[2020-12-11 02:13] wolffarmer opened #593 "This version of TensorRT only supports padding on the outer two dimensions!"
[12/11/2020-01:43:36] [I] === Model Options ===
[12/11/2020-01:43:36] [I] Format: ONNX
[12/11/2020-01:43:36] [I] Model: convert_pb.onnx
[12/11/2020-01:43:36] [I] Output:
[12/11/2020-01:43:36] [I] === Build Options ===
[12/11/2020-01:43:36] [I] Max batch: explicit
[12/11/2020-01:43:36] [I] Workspace: 16 MiB
[12/11/2020-01:43:36] [I] minTiming: 1
[12/11/2020-01:43:36] [I] avgTiming: 8
[12/11/2020-01

[2020-12-11 02:17] cc389518 commented on #593
use  tf2onnx convert tensorflow model to onnx ,opset 11 and TensorRT-7.2.1.6
i read the source tf2onnx code in tensor.py, tensorflow SpaceToBatchND is   replaced with padding+transpose + SpaceToBatch+
SpaceToDepth+transpose ，and padding pads = [0, top, left, 0, 0, bottom, right, 0] not fit TensorRT version, so load the model fail.
how to slove this problem

[2020-12-11 10:56] sandeepganage commented on #588
@pranavm-nvidia
I regenerated engine with --verbose option. No error/warning found in log while building engine. After engine built, it goes for inference test. There I found following error:

[code]

And engine generation It ends with this:

[code]

Verbose output is pretty big to post here. So posting just the error and final part. Please let me know if you need anything else

[2020-12-11 11:04] sandeepganage commented on #588
@pranavm-nvidia

Some more details:
[code]

nvcc.exe version output:
[code]

Cudnn version : 8.0.4

TensorRT version : 7.2.1.6

[2020-12-11 15:29] pranavm-nvidia commented on #588
@sandeepganage It looks like it's actually able to run inference, which is strange.

Regarding the error itself, are you sure the reshape is valid? What's the expected shape of the output of the preceding Conv? You could try using [Polygraphy](https://github.com/NVIDIA/TensorRT/tree/master/tools/Polygraphy) to run the model with ONNX-Runtime to double check that it's valid:
[code]

Otherwise, is i

[2020-12-11 16:06] kochsebastian commented on #586
Actually I think the problem was that I only gave a max value. When I added a min value with -inf. It worked fine.
The max value was indeed calculated at inference time. But this doesn't seem to cause a problem

[2020-12-11 16:06] #586 closed

[2020-12-11 18:06] sandeepganage commented on #588
@pranavm-nvidia Thanks for your reply.
I will check the model with Polgraphy.
Meanwhile, following is the link to the ONNX model.

[](https://drive.google.com/file/d/14hSaXe6N4cUhm-XxkcyG-ENlVt_zTxdU/view?usp=sharing)

[2020-12-11 18:18] pranavm-nvidia commented on #588
@sandeepganage It does look like a model issue after all; ONNX-Runtime reports something similar:
[code]

Can you try using `tf2onnx` to export your model rather than `keras2onnx`? I've seen similar bugs with `keras2onnx` in the past that didn't show up in `tf2onnx`

[2020-12-12 06:10] silverlining21 commented on #401
Same issue. onnx model generate under enviroment config as below:
TRT 7.2.1
onnx 1.6
opset 11
pytroch 1.5
torchvision 0.6

any update would be appericated.

[2020-12-13 07:46] sandeepganage commented on #588
@pranavm-nvidia : Hello Pranav.
Issue is still there.

============================================================

I ran following command to convert tf model to onnx:
`python -m tf2onnx.convert --saved-model "saved-model-path/" --output "path-output-model.onnx" --opset 12 --verbose`

============================================================

It gave me following output:
12:27:27,777 - INFO -

[2020-12-14 05:39] sandeepganage commented on #588
@pranavm-nvidia  I have tested this model on 512 X 512 dimension tiles. Inference works absolutely fine and generates 512 X 512 output. So model works just fine.
From day 1 I have been facing this issue with tensorflow models. With caffe models (Resnet50) experience was better. This is the 3rd network I am trying to port to TensorRT (from tensorflow to tensorRT).

[2020-12-14 10:10] ys0232 opened #594 "after trt optimization BatchNorm2d between conv2d and relu will be fused, but got wrong result."
[code]

- pytorch1.7.0 or pytorch1.4.0
- trt7.0 or trt7.1

pytorch1.7.0 will remove the BatchNorm2d, pytorch1.4.0 still keep BatchNorm2d.
trt 7.0 and trt7.1 will fuse conv2d weight with scales from batchNorm2d, and fuse with relu.
after trt optimization, only one layer in the network, and the result of this optimized network is totally different from the original one running on pytorch.

can anyon

[2020-12-14 15:40] pranavm-nvidia commented on #588
It definitely looks to me like a bug in `tf2onnx`/`keras2onnx`. You could try using [TF-TRT](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#worflow-with-savedmodel) instead.

[2020-12-15 06:01] zzzz737 opened #595 "sudo make -j8 error"
~/TensorRT-7.0.0.11.Ubuntu-18.04.x86_64-gnu.cuda-10.0.cudnn7.6/onnx-tensorrt-7.0/build$ sudo make -j8
Scanning dependencies of target gen_onnx_proto
[  1%] Running gen_proto.py on onnx/onnx.in.proto
/bin/sh: 1: python: not found
third_party/onnx/CMakeFiles/gen_onnx_proto.dir/build.make:87: recipe for target 'third_party/onnx/onnx/onnx_onnx2trt_onnx-ml.proto' failed
make[2]: *** [third_party/onnx/o

[2020-12-15 16:15] kevinch-nv commented on #359
As mentioned in #350, the setup.py script has now been updated in master to not rely on SWIG anymore.

Closing this issue, if you are having trouble with the new Python backend installation process feel free to open a new issue.

[2020-12-15 16:15] #359 closed

[2020-12-15 16:18] kevinch-nv commented on #363
IIRC ONNX should specify CHW as the default, and TF2ONNX should be able to transpose HWC models to CHW when exporting to ONNX.

@axeldavy are you still having this issue? Are you able to repro this on the latest TRT version?

[2020-12-15 16:24] kevinch-nv commented on #367
Those docker files have been deprecated in favor of the official TensorRT OSS Dockerfiles that you can find [here](https://github.com/NVIDIA/TensorRT).

If you have any issues building with the latest version of TensorRT, feel free to open a new issue.

[2020-12-15 16:24] #367 closed

[2020-12-15 16:25] kevinch-nv commented on #372
This is an issue that should be resolved in the latest version of TensorRT. Can you try to repo this with TRT 7.2?

[2020-12-15 16:28] kevinch-nv commented on #374
The InstanceNormalizationPlugin has been updated to support dynamic shapes in the latest TRT release (7.2). For those still following this thread please upgrade to TRT 7.2 and try importing your model again.

I will be closing this issue since this has been updated, if anyone is still having trouble with TRT 7.2 feel free to open a new issue.

[2020-12-15 16:28] #374 closed

[2020-12-15 16:33] kevinch-nv commented on #377
What TRT version is this failure on? Can you upgrade to TRT 7.2 and try importing your model again?

[2020-12-15 16:36] kevinch-nv commented on #378
What version of TRT are you guys using? We should handle this case correctly in both TRT 7.1 and TRT 7.2.

[2020-12-15 16:46] kevinch-nv commented on #379
@cloudrivers can you confirm that your driver version matches your CUDA runtime version?

[2020-12-15 16:47] kevinch-nv commented on #381
Can you provide ONNX model that produced this error and try to see if this is reproducible with the latest TRT version?

[2020-12-15 16:47] axeldavy commented on #363
@kevinch-nv Thanks for the follow-up. I do not use anymore the same codepath as I use tensorflow 2 now instead of Keras and tensorflow 1.
For this reason I cannot answer this question.

I would like to add thanks to the TensorRT team as TensorRT's onnx support is by far the best among what I could try. I'm sure the insane amount of ways to encode a given network with onnx makes it very hard to imp

[2020-12-15 16:48] kevinch-nv commented on #383
Closing this due to inactivity. If you are still experiencing issues, feel free to open a new issue after upgrading to the newest TRT version.

[2020-12-15 16:48] #383 closed

[2020-12-15 16:49] simutisernestas commented on #378
@kevinch-nv 7.2.1.6

[2020-12-15 16:50] nlunscher-cpr commented on #378
@kevinch-nv 7.1.3.4

[2020-12-15 16:53] kevinch-nv commented on #387
@sathiez can you repro the accuracy issue with the latest version of TensorRT (7.2)?

[2020-12-15 16:55] kevinch-nv commented on #390
Those are the limitations that we have set for those layers when designing them. What use cases do you have for having boolean type support for these operations?

[2020-12-15 18:35] kevinch-nv commented on #363
Thanks for your your thoughts. We've been trying to be better with monthly releases to provide support and bug fixes for some of the operators that we don't fully support. We are also continuously improving our graph optimizer so stay in tune for more optimizations in the future 😄

I hope you continue to use TRT as your inference solution in the future, and feel free to open new issues you come ac

[2020-12-15 18:35] #363 closed

[2020-12-15 20:56] kevinch-nv commented on #378
Opset 11 pad should work for both those versions. I've uploaded an ONNX model [here](https://drive.google.com/file/d/1Nhv1iQMaq-iYAavnxhX4dM6CYrFS8tli/view?usp=sharing)  that performs an opset 11 pad. This should work with both 7.2 and 7.1.

[2020-12-15 20:57] kevinch-nv commented on #391
Can you upgrade to a later TRT version? This issue should no longer occur with later TRT releases.

[2020-12-15 20:58] #391 closed

[2020-12-15 21:01] kevinch-nv commented on #398
This is a limitation in TRT where we do not allow dynamic scales for our resize layer.

In later ONNX versions ([since opset 11](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#Resize-11)) the resize operator has been updated where you can specify the size of the resized tensor rather than the scales. TRT has better support for resizes where the size is specified over scales.

Can you e

[2020-12-15 23:27] nlunscher-cpr commented on #378
@kevinch-nv Thanks for the test model. I can confirm that your model does work. You pad a 1x3x3x3 tensor to 1x3x4x4, which corresponds to the columns and channels in a (batch, rows, columns, channel) tensor format.

I tested this [model](https://drive.google.com/file/d/14bDkWSYb9Q_k00CFJPd-TOE3fefvhRtq/view?usp=sharing) that pads the rows and columns, which is how I ran into this issue. Nx3x3x3 pa

[2020-12-16 11:39] sandeepganage commented on #588
@pranavm-nvidia
What is the most ideal way to run tensorflow model on tensorrt.? I tried with caffe model and it was easy as a snap.
I have been struggling to run tensorflow model using tensorrt from so many days. Now I am not sure if I am doing it the right way

[2020-12-16 15:33] pranavm-nvidia commented on #588
@sandeepganage TF-TRT is definitely the easiest way to start. It functions just like any other TF optimization pass, and the resulting model can be used just like a typical TF model.

On the other hand, importing into TRT via ONNX decouples you from the TF runtime completely and can give better performance in many cases. There are a lot of moving parts though, so it is more error-prone. Having sai

[2020-12-16 20:32] nlunscher-cpr commented on #378
@kevinch-nv HWC is the default format used in tensorflow/keras. Is that input format not supported here? I have not had this issue using any other layers in this format.

[2020-12-17 11:03] bitwangdan commented on #524
@vechee hi, have you solved the problem?

[2020-12-17 13:30] zhenxingsh commented on #587
@alicera hi, your yolov5 onnx model compiled in python or C++?  I compiled this model to onnx in ultralytics/yolov5 project， and using this project(onnx-tensorrt v7.0) convert to trt model，but the inference result is 0. can you help me analysis it?? thanks.

[2020-12-17 16:17] kevinch-nv commented on #407
Closing since this is fixed.

[2020-12-17 16:17] #407 closed

[2020-12-17 16:21] kevinch-nv commented on #409
Hi @121786404, if your model has a static batch size, the you cannot make it dynamic through the onnx2trt binary.

First you will have to make sure that you have exported your model with a dynamic batch size (i.e -1), you can verify that the batch is dynamic through inspecting your model through a visualizer such as Netron.

Once you have a model with a dynamic batch, I would recommend using our [

[2020-12-17 16:25] kevinch-nv commented on #411
Hi those in this thread,

Unfortunately TRT only supports padding constant values, so this is why you are seeing the assertion `inputs.at(1).is_weights() ` failing. If it's possible to constant fold these padding layers, then TRT can import and run your model without issue.

[2020-12-17 16:26] kevinch-nv commented on #414
This issue should be solved in the later TensorRT releases. Please upgrade and see if the new releases solves the issue.

If not, feel free to open a new one.

[2020-12-17 16:26] #414 closed

[2020-12-17 16:29] kevinch-nv commented on #415
We have updated both our docker installation process and `setup.py` script to better streamline the build process in the latest TRT 7.2 release.

I will be closing this issue, if you have any problems building on TRT 7.2 feel free to open a new one.

[2020-12-17 16:29] #415 closed

[2020-12-17 16:34] kevinch-nv commented on #372
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:34] #372 closed

[2020-12-17 16:34] kevinch-nv commented on #377
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:34] #377 closed

[2020-12-17 16:35] kevinch-nv commented on #379
Closing due to inactivity - looks to be a setup issue.

[2020-12-17 16:35] #379 closed

[2020-12-17 16:36] kevinch-nv commented on #381
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:36] #381 closed

[2020-12-17 16:37] kevinch-nv commented on #332
Closing due to inactivity - looks to be a setup issue.

[2020-12-17 16:37] #332 closed

[2020-12-17 16:37] kevinch-nv commented on #335
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:37] #335 closed

[2020-12-17 16:38] kevinch-nv commented on #339
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:38] #339 closed

[2020-12-17 16:38] kevinch-nv commented on #342
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:38] #342 closed

[2020-12-17 16:39] kevinch-nv commented on #350
Closing due to inactivity - please upgrade to the latest TRT version and try importing your model again. If that doesn't work, feel free to open a new issue.

[2020-12-17 16:39] #350 closed

[2020-12-17 16:42] kevinch-nv commented on #417
Thanks @JosephChenHub for the reply.

@jeansely - we have a few samples demonstrating INT8 calibration as well in [TensorRT's open source repository](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleINT8), you can refer to that for how to properly set up calibration.

Closing this issue as it's unrelated with ONNX-TensorRT, if you have more trouble with calibration in the fu

[2020-12-17 16:42] #417 closed

[2020-12-17 16:43] kevinch-nv commented on #423
@ObKsEm this should be fixed in the fastest TRT release. Can you try importing your model with the updated libraries?

[2020-12-17 16:46] kevinch-nv commented on #424
@Wallace00V this repository is the open source version of the binary onnx parser library that's shipped with TensorRT.

On [release](https://github.com/onnx/onnx-tensorrt/releases), these two are equivalent. Any commits on top of each version branch are bug fixes for that version of TensorRT, so this repository is the most up-to-date in terms of features and fixes for a specific TRT version.

[2020-12-17 16:46] #424 closed

[2020-12-17 16:47] kevinch-nv commented on #425
@daixiangzi can your reproduce this error with the latest TRT version?

[2020-12-18 17:27] kevinch-nv commented on #428
This should be fixed in later releases of TensorRT with opset 11 resize. Can you try upgrading to the latest release?

[2020-12-18 17:29] kevinch-nv commented on #429
Hi @TengFeiHan0, the InstanceNormalization plugin has been updated to support dynamic shapes in the latest TensorRT release. Can you try upgrading and importing your model again?

[2020-12-18 17:29] kevinch-nv commented on #431
This is a known issue that has been fixed in later TensorRT releases. Can you upgrade and try importing your model again?

[2020-12-18 17:33] kevinch-nv commented on #432
@ai-vip2020 thanks for the logs. We have improved our support for opset 11 with the later versions of TensorRT. Can you try importing that model with the latest version?

As for those warning messages, we also have cleaned them up to be less verbose when importing ONNX models in the later TRT versions.

[2020-12-18 17:34] kevinch-nv commented on #440
Have you tried with the latest TRT version? If it still fails, can you provide the model that you are trying to import?

[2020-12-18 17:36] kevinch-nv commented on #442
@feitiandemiaomi we've made some improvements in later TRT versions to properly handle these reshape cases. Can you upgrade to the latest TRT version and try importing your model again?

[2020-12-18 17:38] kevinch-nv commented on #444
Closing as duplicate of NVIDIA/TensorRT#510

[2020-12-18 17:38] #444 closed

[2020-12-18 20:00] kevinch-nv commented on #448
Post TRT 6.0, we've introduced explicit batch as the default option for creating TensorRT INetworkDefinitions.

I would recommend upgrading your TRT version and using our [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) binary to try and import your model.

[2020-12-18 20:03] kevinch-nv commented on #449
Are you able to build with the latest TensorRT version on master? We've made updates to the build process and docker containers.

As for the failing tests, this is something we are actively investigating.

[2020-12-18 20:48] kevinch-nv commented on #450
Thanks for the issue report. Our TopK layer doesn't support INT32 type yet, I'll open up an issue internally to see if it can be worked on.

[2020-12-19 10:10] alicera commented on #587
I guess the problem is hardtanh

[2020-12-19 13:55] #431 closed

[2020-12-21 02:42] Jialeen opened #596 "Assertion failed: !empty() ../builder/intInterval.cpp:20 Aborting..."
I am trying to convert deeplabV3+ (tf onnx,  https://github.com/rishizek/tensorflow-deeplab-v3-plus ) to TensorRT engine, but it gives me following errorr:

[2020-12-21 02:38:02     BUG] Assertion failed: !empty()
../builder/intInterval.cpp:20
Aborting...
[2020-12-21 02:38:02   ERROR] ../builder/intInterval.cpp (20) - Assertion Error in min: 0 (!empty())
terminate called after throwing an instance

[2020-12-21 15:50] casbolwerk commented on #500
Does anyone have info on this? Especially the second question for me personally

[2020-12-22 00:28] 2730gf commented on #473
hi,have you solve this probolem,can you tell how to fix it?

[2020-12-22 00:46] chiehpower commented on #473
Hi @2730gf,

This issue was quite long time ago. As far as I know, TensorRT and Jetson devcies have updated a lot that you might be able to try the latest version and using `trtexec` to convert the TRT engine.

Cheers.

[2020-12-22 06:26] jinfagang opened #597 "[TRT] INVALID_ARGUMENT: getPluginCreator could not find plugin InstanceNormalization_TRT version 1 [12/22/2020-12:46:22] [E] [TRT] safeDeserializationUtils.cpp (322) - Serialization Error in load: 0 (Cannot deserialize plugin since corresponding IPluginCreator not found in Plugin Registry) [12/22/2020-12:46:22] [E] [TRT] INVALID_STATE: std::exception"
[code]

How do I found this plugin when using `onnx2trt` generates an engine file which contains custom plugin used in onnx-tensorrt?

[2020-12-22 12:37] chandu1263 opened #598 "error while cmake"
CMake Error at /usr/local/share/cmake-3.14/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find Protobuf (missing: Protobuf_INCLUDE_DIR)
Call Stack (most recent call first):
  /usr/local/share/cmake-3.14/Modules/FindPackageHandleStandardArgs.cmake:378 (_FPHSA_FAILURE_MESSAGE)
  /usr/local/share/cmake-3.14/Modules/FindProtobuf.cmake:594 (FIND_PACKAGE_HANDLE_STANDARD_ARGS)
  C

[2020-12-22 15:28] chandu1263 commented on #598
Solved this issue by using
https://gist.github.com/diegopacheco/cd795d36e6ebcd2537cd18174865887b

[2020-12-22 15:28] #598 closed

[2020-12-23 09:36] Felixyin91 commented on #456
Same problem here. How to solve it?

[2020-12-24 01:05] 975150313 commented on #517
I re export my onnx model, set the fixed size, input_ shape=(512, 512, 1),Problem solving

[2020-12-24 01:05] #517 closed

[2020-12-24 06:25] LinnaWang76 opened #599 "Problem converting ONNX model to TensorRT 7.2.1(CTPN.onnx) (Dynamic ReverseSequence support)"
[code]
Please advise if I can provide any more information. ctpn.onnx model worded fine in onnxruntime.

[2020-12-24 09:02] sandeepganage commented on #588
Issue solved. Problem was with tensorflow model itself. I am using tensorflow2x and code which I was using to patch my model.h5 weight was in tensorflow1x. I was taking incorrect stride value for each convolution operation which ultimately resulted in giving me incorrect model itself.
I converted this incorrect model to onnx and then was trying to deploy on tensorrt.
Bow the trt engine can be gene

[2020-12-24 09:02] #588 closed

[2020-12-25 01:46] VincentGu11 commented on #374
I use TRT 7.2.2.3 to convert dynamic input InstanceNormalization, I still has the same problem, and my cuda is 10.2.

[2020-12-25 01:52] LinnaWang76 commented on #599
Run
[code]
[code]
so , Is it cause by Expand in ReverseSequence op?

[2020-12-25 03:30] alicera opened #600 "INT8 and FP16"
TensorRT Version: 7.2.1
GPU Type: 3080
Nvidia Driver Version: 460.89
CUDA Version: 11.1
CUDNN Version: 8.0
Operating System: ubuntu18.04

onnx-> trt
Inference time are the same for INT8 and FP16
I use the onnx model to inference trt
https://github.com/ultralytics/yolov5

Do you know the reason?

[2020-12-25 07:41] shirleyxy commented on #414
I have faced this problem while parsing my .onnx model using tensorrt7.2.2.3 trtexec.exe.

I have faced this problem while parsing my .onnx model using tensorrt7.2.2.3 trtexec.exe.
onnx 1.6.0 pytorch 1.3.1

[2020-12-25 07:42] shirleyxy commented on #414
I have faced this problem while parsing my .onnx model using tensorrt7.2.2.3 trtexec.exe.
onnx 1.6.0 pytorch 1.3.1

[2020-12-27 08:15] buganini commented on #500
Support of quantization is anoher part of question.

[2020-12-28 06:10] jinfagang opened #601 "GatherElements support?"
Now in pytorch1.5 above will export all gather export which takes more than 1 dimension as GatherElements.

This operation is quit common, but not supported by onnx-tensorrt. Will consider support it in the future?

[2020-12-28 07:07] vss96 commented on #379
@kevinch-nv I have the proper drivers but I still get the same error, what should I do?
Driver version: 440.33
Cuda: 10.2
Onnx: 1.6.0

[2020-12-28 07:15] vss96 opened #602 "TypeError: must be str, not bytes"
Hi, I'm trying to use onnx tensorrt backend to run my onnx model. But when I run the script I get this particular error:
[code]
Driver version: 440.33
Cuda version: 10.2
Onnx version: 1.8.0
Tensorrt version: 7.2.1.6

[2020-12-28 07:59] vss96 commented on #533
I'm using opset version 10 and getting the same error. I used keras2onnx to convert yolov3 model into onnx and then use this package to run onnx model in tensorrt. Not sure what I can do to fix this :(

[2020-12-28 08:00] vss96 commented on #602
Error got resolved after shifting device from 1 to 0.

[2020-12-28 08:00] #602 closed

[2020-12-28 11:27] bitwangdan opened #603 "undefined reference to symbol 'cudnnBatchNormalizationForwardTraining@@libcudnn.so.7'"
![image](https://user-images.githubusercontent.com/18326564/103211234-9fa51f00-4942-11eb-994b-617fcc70978e.png)
Has anyone ever come across this problem?

[2020-12-28 15:39] kevinch-nv commented on #374
@VincentGu11 can you open a new issue about this and attach the model you are having trouble with?

[2020-12-28 15:42] kevinch-nv commented on #414
@shirleyxy can you open an issue with the model you are having trouble importing?

[2020-12-28 15:45] kevinch-nv commented on #379
@vss96 do you mind opening a new issue with the repro information of your machine?

[2020-12-28 16:04] kevinch-nv commented on #451
@maulik2222 can you try importing your model with the latest version of TensorRT (7.2)? If it doesn't work, can you attach the model here for internal investigation?

[2020-12-28 16:42] kevinch-nv commented on #452
@DiegoTorresSED @SBodenstedt unfortunately TensorRT only supports constant padding, which means that the padding values provided by the first input of the pad operator must be an initializer (or weights).

You can try "simplifying" your model with the following tool: https://github.com/daquexian/onnx-simplifier. It looks like in your Pytorch code you are doing a constant pad, so we should be able

[2020-12-28 18:29] kevinch-nv commented on #456
See my response on #452 - closing this issue as duplicate.

[2020-12-28 18:35] kevinch-nv commented on #455
Hi all, TensorRT unfortunately only supports constant values for `k` in its TopK layer.

Are the K values in the models actually dynamic? Perhaps they can be constant-folded using the following library: https://github.com/daquexian/onnx-simplifier

[2020-12-28 18:40] kevinch-nv commented on #457
@xpngzhng thanks for the report. Can you clarify a few things to help us narrow down the issue?

- Is this reproducible on the latest TRT version? We've made some updates on what resize modes of ONNX we actually support.
- Is this reproducible on ONNX opset >= 11? ONNX has increased their range of resize modes since opset 11, and that may the cause of the discrepancy seen between Pytorch and ONNX.

[2020-12-28 18:46] kevinch-nv commented on #458
Currently we do not have support for NonZero, marking this as a duplicate of #401

[2020-12-28 18:47] #458 closed

[2020-12-29 05:41] mlbo commented on #600
Please make sure your hardware  [support int8](https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html) first
![image](https://user-images.githubusercontent.com/29347606/103261184-76849d00-49db-11eb-9530-8f5f48af58a0.png)

[2020-12-29 06:28] zlpson opened #604 "when I parse onnx_model with tensorrt,it shows the netwokr layer=1,but my model has many layers,do you know why is it?"

[2020-12-29 07:02] alicera commented on #600
I make sure my  hardware support int8.

GPU Type: GTX 1660
Nvidia Driver Version: 455.38

[2020-12-29 16:25] kevinch-nv commented on #460
In TensorRT 5, the upsample implementation was done through a plugin, which means you'll have to provide the onnx-tensorrt plugin library (IIRC it was named `libnvonnxparser_runtime.so`  as a plugin factory when deserializing your engine.

In later TRT versions, resize is now a native layer within TRT so deseriazation can be done without providing this external plugin library. I would recommend up

[2020-12-29 16:38] kevinch-nv commented on #464
@manhongnie What TRT version are you using? Can you try the latest version?

If it still doesn't work, can you attach the model you are trying to import here?

[2020-12-29 16:39] kevinch-nv commented on #465
`Mish` looks to be a custom operator. Can you double check that the model was exported correctly?

[2020-12-29 16:40] kevinch-nv commented on #466
Thanks @tdp2110 for the contribution. The MR was merged a while ago, so closing this issue.

[2020-12-29 16:40] #466 closed

[2020-12-29 16:53] kevinch-nv commented on #468
Have you tried the pytorch->onnx->tensorrt import path?

[2020-12-29 16:54] kevinch-nv commented on #469
What TRT version are you using? This should be fixed in later onnx-tensorrt releases.

[2020-12-29 16:59] kevinch-nv commented on #470
You can take a look at the source MR (https://github.com/onnx/onnx-tensorrt/pull/420) for more information.

It does the optimizations on the ONNX graph listed in [this repo](https://github.com/onnx/onnx/tree/master/onnx/optimizer/passes).

[2020-12-29 16:59] #470 closed

[2020-12-29 21:56] kevinch-nv commented on #471
Thanks for the report. Fixed in the above MR.

[2020-12-29 21:56] #471 closed

[2020-12-30 16:48] kevinch-nv commented on #476
I believe the default behavior in CMAKE on Windows is to generate  `.vcxproj` files instead of Makefiles to build the targets. So in your case, instead of running `make` you'll have to run the `ALL_BUILD` project in VS to build the libraries.

[2020-12-30 16:50] kevinch-nv commented on #478
This seems to be a duplicate of #455 - please see my response in that issue.

[2020-12-30 16:50] #478 closed

[2020-12-30 16:56] kevinch-nv commented on #479
This issue should be fixed in later TensorRT releases.

In addition, this warning should have no effect on the parsing of the network, so it can be safely ignored in previous TRT versions.

[2020-12-30 16:56] #479 closed

[2020-12-30 16:58] kevinch-nv commented on #481
Hi @bmfire1, I would recommend using the [trtexec ](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) tool we have to export an engine over the `onnx2trt` tool in this repo, since the onnx2trt tool hasn't been updated in a while.

[2020-12-30 17:01] kevinch-nv commented on #482
See the latest README information on the master branch, you can use the main [TensorRT repository's](https://github.com/NVIDIA/TensorRT) docker containers to pull and build this repo.

[2020-12-30 17:01] #482 closed

[2020-12-30 17:02] kevinch-nv commented on #483
Can you try exporting your model to ONNX opset 11 and importing with ONNX-TRT again? We have better support for opset 11 resizes.

[2020-12-30 17:05] kevinch-nv commented on #486
What version of TRT is this? We have recently made some changes to the master branch version of TRT (7.2) that should hopefully fix this issue.

You can also try importing your model through our CLI tool [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) that may give a more verbose error trace.

[2020-12-30 17:06] kevinch-nv commented on #487
What version of TRT are you using? This should be fixed in later releases.

[2020-12-30 17:07] kevinch-nv commented on #489
Hi @wyhao31, the `Where` operator is now supported in later releases of TensorRT. Can you upgrade and try importing your model again?

[2020-12-30 17:09] kevinch-nv commented on #490
Hi @kolingv, those old Dockerfiles were not being actively maintained and build issues were common.

In the newest release of TensorRT, we have switched over and recommend using the main [TensorRT repository's](https://github.com/NVIDIA/TensorRT/) Dockefiles.

[2020-12-30 17:11] kevinch-nv commented on #491
What TRT versions are you using? Can you try upgrading to the latest version (7.2)? We have made some changes in our resize layer.

If that still does not work, can you upload your model or a screenshot of that particular resize node you are having trouble with?

[2020-12-30 17:13] kevinch-nv commented on #493
Hi @neer2005, is this reproducible with the latest version of TensorRT?

In addition, I would recommend using our [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) tool instead of onnx2trt, as the latter is not as well supported.

[2020-12-30 21:06] kevinch-nv commented on #495
Currently we do not support dynamic channels for convolution inputs in TensorRT.

[2020-12-30 21:09] kevinch-nv commented on #500
I would recommend using trtexec over onnx2trt as the CLI interface for converting ONNX models into TensorRT engines since it is more actively maintained.

onnx2trt hasn't been updated in a while, and we are planning to deprecate it in favor of trtexec soon.

[2020-12-30 21:09] #500 closed

[2020-12-30 21:11] kevinch-nv commented on #501
Hi all,

TensorRT does not have native support for the DOUBLE datatype at the moment, which is why you are seeing an error message if you attempt to import a model that uses the DOUBLE type.

I would recommend trying to export your models in float32 type at the moment and see if the resulting model can be imported by TensorRT.

[2020-12-30 21:12] kevinch-nv commented on #502
Can you double check all of the paths used in CMAKE correspond to your current TensorRT version?

[2020-12-30 21:13] kevinch-nv commented on #503
Closing due to inactivity. If you are still experiencing issues, feel free to open a new issue.

[2020-12-30 21:13] #503 closed

[2020-12-30 21:14] kevinch-nv commented on #505
Which ssd-inception model did you try? What unsupported operators are missing?

[2020-12-30 21:15] kevinch-nv commented on #507
Closing this issue as it seems fixed.

[2020-12-30 21:15] #507 closed

[2020-12-30 21:16] kevinch-nv commented on #508
Hi @CallmeZhangChenchen, we recommend using trtexec going forward, as onnx2trt will be deprecated soon.

[2020-12-30 21:16] #508 closed

[2020-12-30 21:17] kevinch-nv commented on #509
Closing due to inactivity - feel free to reopen if this is still an issue.

[2020-12-30 21:17] #509 closed

[2020-12-30 21:18] kevinch-nv commented on #510
Closing due to inactivity from OP. If anyone else is having the same issue feel free to open a new issue and attach the ONNX model you are using.

[2020-12-30 21:18] #510 closed

[2020-12-30 21:18] kevinch-nv commented on #514
Closing due to inactivity. Feel free to reopen if you are still having issues.

[2020-12-30 21:18] #514 closed

[2020-12-30 21:19] kevinch-nv commented on #520
We have added support for this recently on master. Can you see if building off the master branch works for you?

[2020-12-31 01:54] DonggeunYu opened #606 "ONNX to TensorRT, used torch.topk ERROR"
I used torch.topk().
But I get an error.

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:24:38_PDT_2019
Cuda compilation tools, release 10.2, V10.2.89

onnx: 1.6.0
onnx-tensorrt: 7.2.1.6.0

[code]

ERROR:
[code]

[2020-12-31 08:38] Wulingtian opened #607 "请问有人遇到 yolov5s 的onnx模型转trt int8不出框的情况吗？不管是yolov5 3.1的版本还是2.0的，都不出框。。。"
![IMG_20201231_094134](https://user-images.githubusercontent.com/20986422/103402073-77a5fd80-4b86-11eb-8f1d-ca24a9184b12.jpg)
有onnx转trt int8的推理速度还是很快的，5ms左右，就是不出框。。。
有人能一起交流一下吗？

[2021-01-03 04:12] wdhxek commented on #601
same problems for me .

[2021-01-03 04:13] amanjhunjhunwala commented on #601
Same problem for me

[2021-01-03 12:44] ElegantLin commented on #430
@X-funbean Hi, did you find the solution? I am also faced with this problem.

Thanks!

[2021-01-03 14:51] study0098 commented on #460
Thank you for your advice, I have tried TensorRT6.0.1 and it all works well!

[2021-01-04 02:37] zccyman opened #608 "Question about converting quantized 8-bit onnx model to tensorrt"
- Relevant 8-bit Quantization (https://github.com/yhhhli/APoT_Quantization/blob/master/ImageNet/models/quant_layer.py)

I am trying to convert an already quantized 8-bit onnx model to tensorrt!
onnx version : 1.8.0
tensorrt version: 7.2.1.6

When I try to parse my quantized onnx network, I get the following error
[code]

[2021-01-04 03:25] weizhiyi777 opened #609 "Converting multi-input conv layer to tensorrt failed."
Hello guys,

I try converting a model (pytorch -> onnx -> tensorrt) with one multi-input conv layer. But it failed :(
Here is the script of converting pytorch model to onnx model:

    import torch
    import torch.nn.functional as F

    class my_conv_model(torch.nn.Module):

        def __init__(self):
            super(my_conv_model, self).__init__()

        def forward(self, input):

[2021-01-04 05:32] ttyio commented on #430
Hello @ElegantLin , Have you tried

    python3 -m pip uninstall tensorrt
    python3 -m pip install <tensorrt_install_dir>/python/tensorrt-7.x.x.x-cp<python_ver>-none-linux_x86_64.whl

[2021-01-04 06:54] zhenxingsh commented on #587
@alicera my problem has solved,thanks

[2021-01-04 06:54] zhenxingsh commented on #587
@alicera my problem has been solved, thanks

[2021-01-04 16:41] #460 closed

[2021-01-04 19:10] kevinch-nv commented on #522
All you need to is update the `batch_size` parameter in the function to the batch size you want to do inference with - it doesn't matter on the size of the input.

Note that this is true for networks created with implicit batch, in later versions of TensorRT for ONNX graphs INetworks must be created in explicit batch mode, which uses a slightly different API. You can look at the `do_inference_v2`

[2021-01-04 19:10] #522 closed

[2021-01-04 19:19] kevinch-nv commented on #523
ONNX is generally in NCHW format, and most popular convertors (such as tf2onnx as @asmasaad pointed out above) support exporting into NCHW format.

[2021-01-04 19:25] kevinch-nv commented on #524
It looks like you are creating two Engines - one for resizing the image and the other for running inference on the resized data.

Which engine is throwing the error? It looks like you are creating the profiles correctly for the preprocessing engine - does the prediction engine also have dynamic inputs?

[2021-01-04 19:26] kevinch-nv commented on #525
Which BERT model are you using? What are the accuracy differences between the FP32 and FP16 results?

[2021-01-05 03:40] jinfagang commented on #601
Problem solved, close this.

[2021-01-05 03:40] #601 closed

[2021-01-05 06:40] xiaxuer opened #610 "how to solve the problem that no python api on windows tensorrt ?"

[2021-01-05 06:48] leeyunhome opened #611 "/home/jetson7/coding/onnx-tensorrt/third_party/onnx does not contain a CMakeLists.txt file."
Hello,
Thank you for sharing good material.

I encountered the following error.
jetson7@jetson7-desktop:~/coding/onnx-tensorrt/build$ cmake .. -DTENSORRT_ROOT=/usr/lib/tensorrt && make -j
-- The CXX compiler identification is GNU 7.5.0
-- The C compiler identification is GNU 7.5.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting

[2021-01-05 22:10] kevinch-nv commented on #526
Thanks for the report, I'll make a MR updating this.

[2021-01-06 11:09] alphapibeta opened #612 "Onnx batchsize greater than 1"
Hello, converted a [mxnet](https://github.com/deepinsight/insightface) model to onnx format with batchsize=16, model was generated successfully. Also, generated the model with batchsize=1, batchsize=1 works without any issue but when trying with a batch size=16 getting errors.

<h1>The config.pbtxt for batchsize=1</h1>

name: "arcface"
platform: "onnxruntime_onnx"
max_batch_size: 0
input [
  {

[2021-01-06 23:11] kevinch-nv commented on #526
Change submitted, closing issue

[2021-01-06 23:11] #526 closed

[2021-01-06 23:17] kevinch-nv commented on #527
In most cases this warning can be ignored since ONNX uses INT64 to generate constants by default. Since TRT doesn't natively support INT64, this warning is to notify the user that we are casting down to INT32.

From your log, I see this following line `%17 : Tensor = onnx::Constantvalue= -1 400 [ CPULongType{2} ]`. Since this value can also be represented in INT32 you can safely ignore this warnin

[2021-01-06 23:17] #527 closed

[2021-01-06 23:18] kevinch-nv commented on #528
Are you able to provide the model you are testing with? What is the  FP32 accuracy comparison?

[2021-01-06 23:21] kevinch-nv commented on #533
As mentioned in the error, TensorRT only supports 2D padding on the outer two dimensions of a NCHW formatted tensor.

What do the padding operators / tensor formats look like in your models?

[2021-01-07 07:46] #612 closed

[2021-01-07 07:50] wanhaipeng commented on #303
can tensorRT 6.0 support this feature？

[2021-01-07 16:28] kevinch-nv commented on #303
In TensorRT 6.0 we've added support for explicit batch network definitions and dynamic shapes, so it may work there. See the 6.0-full-dims branch for more information.

However we've made a lot more updates and bug fixes for dynamic shapes over the past few releases, so if you are able to use the latest version of TensorRT I would recommend that.

[2021-01-07 18:49] kevinch-nv commented on #535
Can you provide access to the ONNX model you are using to test?

[2021-01-07 18:50] kevinch-nv commented on #536
Any reason you cannot upgrade? TensorRT 3 is no longer supported.

[2021-01-07 18:52] kevinch-nv commented on #537
What TRT version are you using? IIRC this was a known issue that should've been fixed in later versions.

[2021-01-07 19:00] kevinch-nv commented on #539
See my responses inline:

TRT engines are device and version specific - so you'll have to create the engine on the device you are deploying on.

You can use a different backend (such as onnx-runtime) to verify that the ONNX file you've created is correct. You can use our [polygraphy](https://github.com/NVIDIA/TensorRT/tree/master/tools/Polygraphy) tool to run inference on different backends includ

[2021-01-07 20:22] DJT777 opened #614 "Error in Converting Model to TRT Engine Using Tensorflow 2 Models"
I am getting this output on two Tensorflow models converted to ONNX:

[code]

Modified ONNX File using this method:
[code]

[2021-01-07 20:24] DJT777 commented on #552
Anyone solve this yet?

[2021-01-07 20:35] DJT777 commented on #400
Has anyone been able to solve this issue:

[code]

I understand that the .cpp file needs to be rewritten. If someone has solved the builtin importers problem, please share what code they have changed in that file.

[2021-01-08 01:02] #606 closed

[2021-01-08 03:48] jovialio opened #615 "Bug for F.Interpolate during conversion from Torch->Onnx->TensorRT"
Hi,

There is a bug in the conversion F.Interpolate operation from Torch->Onnx->TensorRT. F.Interpolate was able to conversion from Torch to Onnx but not from Onnx to TensorRT.

This is due to `scale_factor` being converted to Double Type that is not allowed in TensorRT conversion. Below is work around code by manually calculating the final size to input `size` instead of `scale_factor` during int

[2021-01-08 04:07] jovialio commented on #302
If it's issue relating to F.Interpolate, this is what i raised and the work around i found to convert from Torch->Onnx->TensorRT.

https://github.com/onnx/onnx-tensorrt/issues/615

[2021-01-08 06:59] DJT777 opened #616 "Errors in ONNX TensorFlow 2 Models Conversion to TensorRT Engine"
I am getting these errors below. I am wondering if someone can help me figure out what is causing them and how to fix.

[code]

[code]

[2021-01-08 07:00] #616 closed

[2021-01-08 07:01] DJT777 commented on #614
When running onnx2trt instead of trtexec

[code]

[2021-01-08 08:10] ynma-hanvo commented on #379
the same error , any updates ?, i have :
Driver version: 440.33
Cuda: 10.2
Onnx: 1.6.0

[2021-01-08 16:36] kevinch-nv commented on #615
Thanks @jovialio for helping to root cause the issue. Since TRT does not accept the DOUBLE type at the moment, using the sizes parameter for the resize/interpolate op is a good WAR.

I'll do more investigation on my end on the proper way of supporting this, and this may involve opening up an issue upstream to pytorch to see why they are exporting DOUBLE types for values that can be presented by FL

[2021-01-08 16:37] kevinch-nv commented on #379
What Python version and TRT version are you using?

[2021-01-08 19:41] kevinch-nv commented on #534
TRT doesn't natively support BOOL types in its concat layer. I think we can WAR this by casting the bool tensors to INT, doing the concat, and casting back.

[2021-01-08 19:54] kevinch-nv commented on #540
@MuhammadAsadJaved it looks you have a TRT engine generated and uploaded in that google drive link. In addition I did not encounter any errors converting the provided onnx model into TRT with TensorRT 7.2. Can this issue be closed?

[2021-01-08 19:57] kevinch-nv commented on #541
Can you provide the onnx model you are having troubles with?

[2021-01-08 21:43] kevinch-nv commented on #542
Thanks for the report. Working on a fix.

[2021-01-08 21:45] kevinch-nv commented on #543
Thanks for the report. I'll make a MR fixing this along with #542

[2021-01-08 22:22] kevinch-nv commented on #552
`getPluginCreator could not find plugin` is through the fallback path of the ONNX-TensorRT importer. What this means is that the default library doesn't support the NonMaxSuppression op.

We have plans for adding support for this op in future releases.

[2021-01-08 22:24] kevinch-nv commented on #552
Marking this as a duplicate of #267

[2021-01-08 22:24] #552 closed

[2021-01-08 22:25] kevinch-nv commented on #401
We currently do not support the NonZero operator, which is why you are seeing this error. We have plans to support this in a future release.

[2021-01-08 22:25] kevinch-nv commented on #553
Marking this as a dup of #401.

[2021-01-08 22:25] #553 closed

[2021-01-08 22:26] kevinch-nv commented on #555
What do you mean by this issue? Can you provide us with an ONNX model that produces the bug?

[2021-01-08 22:28] kevinch-nv commented on #561
Can either of you share your model with me? What TRT versions are you using?

[2021-01-08 22:33] kevinch-nv commented on #562
Closing as this seems resolved.

[2021-01-08 22:33] #562 closed

[2021-01-08 22:44] kevinch-nv commented on #563
What model is this? According to the error message `Found unsupported datatype (8)` this model is using String datatypes, which TensorRT does not natively support.

[2021-01-08 22:55] kevinch-nv commented on #564
Since the Jetson Nano has much lower memory than desktop cards, can you try increasing the workspace size when building the engine?

[2021-01-08 22:56] kevinch-nv commented on #566
@FamousDirector @phamdat09 can you confirm that @pranavm-nvidia's PR fixed your issue?

[2021-01-08 23:17] FamousDirector commented on #566
@kevinch-nv Yes this fix did the job.

[2021-01-08 23:17] #566 closed

[2021-01-09 04:05] MuhammadAsadJaved commented on #540
Ok Thank you

[2021-01-09 04:05] #540 closed

[2021-01-09 12:49] DJT777 commented on #552
@kevinch-nv thank you

[2021-01-10 09:20] zzyzzyzz commented on #554
How do you solve this problem？

[2021-01-10 11:02] zzyzzyzz opened #617 "Assertion failed: cublasStatus == CUBLAS_STATUS_SUCCESS"
I upgraded tensorrt to 7.2.2, and when i use executeV2 then it happens.

[2021-01-11 04:01] ynma-hanvo commented on #379
python 3.6 ,  using conda env.
By the way, what is exactly this repo about, is it a onnx praser or not ?
i am confused as the tensorrt installation package already contains the onnx praser .

[2021-01-11 16:15] kevinch-nv commented on #571
This was fixed in #568. Closing.

[2021-01-11 16:15] #571 closed

[2021-01-11 16:22] kevinch-nv commented on #577
You can use TensorRT's INetwork's `mark_output` API (see [here](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/Network.html?highlight=mark_output#tensorrt.INetworkDefinition.mark_output)) to mark tensors within the network as output tensors.

[2021-01-11 16:23] kevinch-nv commented on #580
Can you give some more information about your environment?

In addition, in later releases of ONNX-TensorRT we no longer rely on nvcc to compile plugin code. Can you try building a later version of this repo?

[2021-01-11 16:28] kevinch-nv commented on #581
I don't see that assertion on the latest [7.0 commit](https://github.com/onnx/onnx-tensorrt/blob/6f649111e5c720b526351c120bc5f63f0ff84c90/builtin_op_importers.cpp#L1152), do you have the latest build?

[2021-01-11 16:39] kevinch-nv commented on #582
You are correct, the bulk of the time consists of building the engine, which the backend is doing everytime in that code snippet.

In order to remove the engine building overhead, the workflow is to build the engine once, and save the engine to disk to reload in future inference runs. It looks like the backend doesn't have a clear function to do that, so marking this as an enhancement.

I'll work

[2021-01-11 17:35] ajaichemmanam opened #618 "ScatterND is not supported"
I was trying to convert pytorch model to onnx and then to tensorrt .

However
    kps[..., ::2] += xs.view(batch, K, 1).expand(batch, K, num_joints)
    kps[..., 1::2] += ys.view(batch, K, 1).expand(batch, K, num_joints)
this line of code causes ScatterND not supported error. Any solution or workaround for it?

[2021-01-11 18:36] kevinch-nv commented on #542
Merged the fix - can help verify that the fix works for you?

[2021-01-11 18:36] kevinch-nv commented on #543
Merged the fix - can you confirm that the fix works for you?

[2021-01-11 19:25] #534 closed

[2021-01-12 02:29] mneilly commented on #542
Cool. I'll give it a try. :)

[2021-01-12 02:31] mneilly commented on #543
I'll check it out. :)

[2021-01-12 07:59] aditdoshi333 commented on #550
Thanks a lot.

[2021-01-13 04:12] Ekta246 commented on #615
@jovialio Thanks for the amazing solution! However, do you mind sharing the piece of your class method in which you have written the forward function please?

Thanks

[2021-01-13 15:47] oak-tree opened #623 "ConvInteger support when exporting ONNX to TensorRT"
Hey
Accrooding to X, the convertor support up to `opset 11`. By https://github.com/onnx/onnx/blob/master/docs/Operators.md, `ConvInteger` is from Opset 10.
But accroding to https://github.com/onnx/onnx-tensorrt/blob/master/operators.md its not support.

So my question does ConvInteger have a support from Onnx to TensorRt? if no what is the workaround?
Thanks!

[2021-01-14 03:35] FuzhiYang commented on #518
@konradkostrzewa Have you solved this problem?

[2021-01-14 05:58] AmemiyaYuko opened #624 "Unable to find mixed precision mode switch"
While I was looking around Nvidia document, I found this https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html

    input_saved_model_dir=input_saved_model_dir,
    max_workspace_size_bytes=(11<32),
    precision_mode=”FP16”,
    maximum_cached_engines=100)
Could I set precision_mode in onnx-tensorrt?

[2021-01-14 17:41] marcomgg opened #625 "Parser does not provide the correct output dimension"
Hello, I was trying to import a model exported with tensorflow that has output size (batch_size, 2)
however the parser returns an output dimension of (-1,-1).

Here is the output of the logger in verbose mode:

ModelImporter.cpp:125: resnet_model/out_layer/MatMul [MatMul] inputs: [resnet_model/dropout_2/Identity:0 -> (-1, 512)], [resnet_model/out_layer/MatMul/ReadVariableOp__273 -> (512, 2)],
Impo

[2021-01-15 02:35] Ymec opened #626 "Assertion failed: get_shape_size(new_shape) == get_shape_size(tensor.getDimensions())"
I find an error in onnx-tensorrt v5.0，In the function，you have define “int infer_dim = -1; ” In the function，you must trigger exception “
”ASSERT(get_shape_size(new_shape) ==
                   get_shape_size(tensor.getDimensions()),
               ErrorCode::kUNSUPPORTED_NODE);
you can see it this link
https://img2020.cnblogs.com/blog/1805793/202101/1805793-20210115103115741-1328896928.png

[2021-01-15 02:41] #626 closed

[2021-01-15 02:42] Ymec commented on #626
no

[2021-01-18 02:06] mmec-lab opened #627 "No converter registered for op type: ReduceSum"
the error is occured when I use tensorrt4.0 c++ api to parse model

[https://img2020.cnblogs.com/blog/1805793/202101/1805793-20210118100247069-1200590342.png](url)
[https://img2020.cnblogs.com/blog/1805793/202101/1805793-20210118100456451-1690382430.png](url)

[2021-01-19 16:20] turowicz commented on #400
Would be nice if NVIDIA made easier. Many people are using TF Object Detection.

cc @deadeyegoodwin

[2021-01-19 16:27] turowicz commented on #400
Guys, perhaps the way is to train the model with FP16 weights from the get-go.

https://github.com/tensorflow/models/issues/3706

https://www.analyticsvidhya.com/blog/2020/09/tensorflow-object-detection-1-0-2-0-train-export-optimize-tensorrt-infer-jetson-nano/

These guys seem to be successful on paper.

[2021-01-20 10:28] hungxiu1995 commented on #587
Hi, can i ask what caused your problem and how you solved it. I met the same problem as @alicera. My yolov5 TRT model cant detect any object for int8, even if i am using SiLu activation function. But the original model released with the repo worked for int8.

[2021-01-21 01:05] #539 closed

[2021-01-21 03:23] GeorgeBohw opened #630 ""make" occurs error "nvinfer1""
os：ubuntu
tensorrt:7.0

when install onnx-tensorrt,execute command "make":
/home/mk/qiaobaohua/onnx_tensorrt/onnx-tensorrt/ShapeTensor.cpp:444:14: error: ‘class nvinfer1::IShuffleLayer’ has no member named ‘setZeroIsPlaceholder’
     shuffle->setZeroIsPlaceholder(zeroIsPlaceholder);
              ^~~~~~~~~~~~~~~~~~~~
/home/mk/qiaobaohua/onnx_tensorrt/onnx-tensorrt/ShapeTensor.cpp: In function ‘nvi

[2021-01-21 03:56] kevinch-nv commented on #630
This looks like a mismatch between the TRT version and the ONNX-TRT version you are using. Are you building off the master or 7.0 branch?

[2021-01-21 04:16] kevinch-nv commented on #583
@berkantay can you help clarify a few things?

- What TRT version are you using?
- Did you also benchmark with `trtexec` - does it give similar numbers?
- Can you try increasing the batch size of the `input_data` you're passing in?

[2021-01-21 04:18] kevinch-nv commented on #584
TRT 6 is quite old - are you able to build with the latest version of TensorRT on the master branch?

[2021-01-22 02:58] GeorgeBohw commented on #630
@kevinch-nv thanks，i use the wrong version of TRT,it has resolved!

[2021-01-22 02:58] #630 closed

[2021-01-22 04:00] jiarenyf commented on #407
Fixed ??? You must be kidding ...

[2021-01-22 04:10] jiarenyf commented on #378
Having the same issue. opset_version=12 .

After update to opset_version=13, new problem accurs: IndexError: Attribute not found: axes

Any help !!!

[2021-01-22 11:28] chandu1263 commented on #3
ONNX IR version:  0.0.6
Opset version:    12
Producer name:    pytorch
Producer version: 1.7
Domain:
Model version:    0
Doc string:

Is this compatible with trt7.0.0?

[2021-01-22 20:09] vilmara opened #633 "ERROR: ModelImporter.cpp:92 In function parseGraph - [8] Assertion failed: convertOnnxWeights(initializer, &weights, ctx)"
## Description
I have converted the TF Zoo pre-trained model Faster-RCNN to ONNX for later on run it with TensorRT, but got the error
[code]

## Environment

**TensorRT Version**:  7.0
**ONNX-TensorRT Version / Branch**:  using  onnx/tensorflow-onnx master branch 1.9
**GPU Type**:  T4
**Nvidia Driver Version**: 450.51.06
**CUDA Version**:  10.2
**CUDNN Version**: 7.6.5
**Operating System + Version

[2021-01-22 21:06] kevinch-nv commented on #585
Can you post the error log and share the model if possible?

[2021-01-22 21:10] kevinch-nv commented on #587
If you can run inference in FP32 / FP16, then running in INT8 should also be possible. Are you doing the calibration process correctly for generating an INT8 engine?

[2021-01-22 21:13] kevinch-nv commented on #593
Are you able the share your ONNX model? This issue looks similar to #378.

[2021-01-22 21:16] kevinch-nv commented on #594
Thanks for the report. Can you provide us a script and the generated ONNX model to help reproduce? Do you see the same error with TRT 7.2?

[2021-01-22 21:17] kevinch-nv commented on #595
`/bin/sh: 1: python: not found` looks to be the problem - do you not have Python installed on your system?

[2021-01-22 21:20] kevinch-nv commented on #596
What TRT version are you using? How are you generating the TRT engine?

[2021-01-22 21:21] kevinch-nv commented on #597
What TRT version are you using? How are you generating and loading the engine?

[2021-01-22 21:22] kevinch-nv commented on #599
Are you able to share the ONNX model?

[2021-01-22 21:25] kevinch-nv commented on #600
Which YOLOv5 model from that repository are you using?

[2021-01-22 21:28] kevinch-nv commented on #603
Hmm.. I haven't encountered this before - looks to be an environment issue of some kind. Can you try build on a later TRT version? Later versions do not build their own plugin library anymore.

[2021-01-22 21:29] kevinch-nv commented on #604
Are you successfully building an engine after parsing? What TRT version are you using? Are you able to share your ONNX model?

[2021-01-22 21:38] kevinch-nv commented on #608
You'll need to populate the explicit precision flag when creating the TensorRT network.

[code]

[2021-01-23 01:40] ttyio commented on #607
hello @Wulingtian ,
 this is duplicate to https://github.com/NVIDIA/TensorRT/issues/997
I will triage this issue, could you also send me the code to repro the issue? thanks!

[2021-01-23 02:02] Wulingtian commented on #607
我怎么发给你呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Xiaodong (Vincent) Huang"<notifications@github.com&gt;;
发送时间: 2021年1月23日(星期六) 上午9:40
收件人: "onnx/onnx-tensorrt"<onnx-tensorrt@noreply.github.com&gt;;
抄送: "willer"<2813389262@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [onnx/onnx-tensorrt] 请问有人遇到 yolov5s 的onnx模型转trt int8不出框的情况吗？不管是yolov5 3.1的版本还是2.0的，都不出框。。。 (#607

[2021-01-23 04:19] Wulingtian commented on #607
可以给我你的邮箱吗？

[2021-01-23 09:09] GeorgeBohw opened #634 "about gru support"
**hi,i have a question: does onnx-tensorrt support 'gru' operation?**

 details:now i has a network which has 'gru' operation ,when i use onnx2trt to convert onnx model to trt model,i tell me:

 **_importer_ctx.tensors().at(output.name()).is_tensor()**

so i double that this version can't support 'gru' operation.

thanks!

[2021-01-23 11:45] t-T-s commented on #400
Wow this worked nicely !! Thanks a bunch @CMangoDH

Now I am having trouble with replacing the NMS (NonMaxSupression) layer... Is there a way to replace the NMS with the nms available in the tensorRT ?

[2021-01-24 00:10] wolffarmer commented on #593
i fix this , i change the code , insert transpose before pad ,  pad action is tranposed to two low dimension,then tensorrt is support。
and i find anther performance fusion optimization，tensorrt support dilation conv，SpaceToDepth+transpose + paddings can be replaced by conv with dilation for performance， and in 2020 NVIDIA GTC ， tencent  team also found this fusion optimization，i I hope the author

[2021-01-24 11:27] israelwei opened #635 "Supported / Unsupported operators in ONNX-->TRT"
Hey,
The webpage I used so far for the Supported / Unsupported operators in ONNX-->TRT, is not available now:
https://github.com/onnx/onnx-tensorrt/blob/master/operators.md
Can you please fix this page / update how to get to the webpage of the operators?

[2021-01-25 01:04] ttyio commented on #607
@Wulingtian  vincenth#nvidia.com, thanks!

[2021-01-25 02:37] alicera commented on #600
I use 3.0 when test.

[2021-01-25 02:42] alicera commented on #587
Make sure the calibration process correctly.

The project use weight to parse network for INT8 and it success
https://github.com/enazoe/yolo-tensorrt

If I use onnx to parse network for INT8, it will happen the thing that cant detect any object for int8

[2021-01-25 20:41] kelia commented on #611
make sure to update the submodule after cloning the repo.
I.e., after cloning:
[code]

[2021-01-25 23:27] kevinch-nv commented on #298
The installation instructions have been updated in #559 - see the [updated instructions](https://github.com/onnx/onnx-tensorrt#python-modules) for information on installing the python backend libraries. Closing this issue - if you are still having issues feel free to open another one.

[2021-01-25 23:27] #298 closed

[2021-01-26 00:32] kevinch-nv commented on #600
The link to the models seem to be dead for the v3.0 checkpoints.

Can you uploaded your converted ONNX model here?

[2021-01-26 00:33] kevinch-nv commented on #635
In the recent 21.02 release we have moved the location of the doc to: https://github.com/onnx/onnx-tensorrt/blob/master/docs/operators.md

[2021-01-26 00:33] #635 closed

[2021-01-26 17:54] vilmara commented on #445
Hi @rgc183, what branch and TRT release did you use?. I am using branch 7.2.1  and TRT 7.2.1 and the problem` [8] Assertion failed: convertOnnxWeights(initializer, &weights, ctx)` persists

[2021-01-26 18:02] vilmara commented on #423
Hi @kevinch-nv, what branch and TRT release do you recommend?. I am using branch 7.2.1  and TRT 7.2.1 and the problem` [8] Assertion failed: convertOnnxWeights(initializer, &weights, ctx)` persists. Please see below the details:

**ONNX Model:**
Faster-RCNN downloaded from https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/faster-rcnn
**Command:**
`$ trtexec --onnx=onn

[2021-01-27 02:06] ThrillerWYY commented on #374
hello,have you solved this trouble, i met the same problem,UNSUPPORTED_NODE: Assertion failed: !isDynamic(tensor_ptr->getDimensions()) && "InstanceNormalization does not support dynamic inputs!"

[2021-01-27 02:07] ThrillerWYY commented on #374
hi,have you solved this problem?

[2021-01-27 02:15] ThrillerWYY commented on #374
my environment is as same as yours,how do you solve this problem?

[2021-01-27 07:49] Yuuuuuuuuuuuuuuuuuummy commented on #469
Hi, i meet the same error, the version of tensorrt i used is 7.2.2.3, i use python onnx-tensorrt which is the latest master branch, the installed onnx-tensorrt version is 7.2.2.3.0, i wonder when this issue will be fixed?

[2021-01-27 11:56] nikhil-salodkar opened #636 "facing building error in cmake command"
## Description

The below installation is being tried inside the docker container which was built by following the instructions in TensorRT github repo and here : https://github.com/NVIDIA/TensorRT/tree/master/demo/BERT. I am successfully able to follow instructions and convert bert models to plans and use them to do inference as instructed in the link above.
The reason I am trying out this repo i

[2021-01-27 17:06] kevinch-nv commented on #374
As mentioned in my previous comment, this failure is expected with TRT 7.0 and has been fixed in TRT 7.2. Can you upgrade your TRT version?

[2021-01-28 10:27] haige-algo commented on #600
@alicera , Hi, I wonder how to calibration when you convert onnx to trt with INT8 mode, I tested my demo, but calibration failed. Thanks
CUDA:10.2
TensorRT:7.1.3.4
ONNX:1.8.0

[2021-01-28 11:46] alicera commented on #600
I use this
https://github.com/linghu8812/tensorrt_inference/tree/master/yolov5

[2021-01-28 22:29] vilmara commented on #552
@DJT777 take a look at `https://github.com/NVIDIA/TensorRT/issues/795` and [](https://github.com/NVIDIA/TensorRT/issues/523)

[2021-01-29 04:15] #607 closed

[2021-01-29 07:36] haige-algo commented on #600
@alicera , I noticed the repo before, but there is only the guide how to convert onnx to trt, no guide to do calibration and do inference with INT8, thanks

[2021-01-29 08:21] alicera commented on #600
I also find this https://github.com/Syencil/tensorRT

[2021-01-29 15:13] litvinich commented on #597
Hi! Have you solved it? Got the same problem.
CUDA 10.2, CuDNN 8.0.5, TensorRT 7.2.2.3
I'm loading the engine with this code:
[code]
 and got this error:
[code]

Previously I did convertation of FPN model from ONNX (onnx model was generated with onnx == 1.8.0 and torch.onnx opset-version == 11).

But still, I can run this model with `trtexec` and that's strange. Looks like bug in Python API.

[2021-01-29 15:37] litvinich commented on #597
Oh, I managed to fix it using `trt.init_libnvinfer_plugins(None, "")` like is advised here: https://stackoverflow.com/questions/60967438/unable-load-tensor-rt-savedmodel-after-conversion-in-tensorflow-2-1

[2021-01-29 17:17] kevinch-nv commented on #599
I have reproduced the error with my own model, so looking into a possible fix now.

If you can still share your model it would be helpful as an additional datapoint

[2021-01-29 17:21] kevinch-nv commented on #597
Thanks @litvinich for finding the root cause! @jinfagang can you confirm that you are initializing the plugin library?

[2021-01-29 23:40] kevinch-nv commented on #636
If you are using the container in the TensorRT repository, your `-DTENSORRT_ROOT` should be `TRT_RELEASE`, which I think is mapped to the `/tensorrt` directory inside the container.

[2021-01-29 23:42] kevinch-nv commented on #634
What TensorRT version are you using? There is an `operators.md` file in each branch (or `docs/operators.md`) on master that lists the current onnx-tensorrt supported operators list.

`_importer_ctx.tensors().at(output.name()).is_tensor()` looks like an error not necessarily related to a particular operator, are you able to share your model?

[2021-02-01 07:29] #583 closed

[2021-02-01 08:45] alicera opened #637 "resnest50 onnx"
## Description
I convert the resnest50  model to onnx
https://cv.gluon.ai/model_zoo/classification.html?from=groupmessage
https://github.com/apache/incubator-mxnet/issues/19808

COMMAND:
onnx2trt tp.onnx -o tmp.trt
----------------------------------------------------------------
Input filename:   tp.onnx
ONNX IR version:  0.0.7
Opset version:    12
Producer name:
Producer version:
Domain:
Model ve

[2021-02-01 09:19] alicera commented on #637
I try to simplifer it with onnxsim

----------------------------------------------------------------
Input filename:   del.onnx
ONNX IR version:  0.0.7
Opset version:    12
Producer name:
Producer version:
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
WARNING: ONNX model has a newer ir_version (0.0.7) than this parser was built against (0.

[2021-02-01 17:19] kevinch-nv commented on #633
Thanks for the report. We'll take a look at this issue

[2021-02-01 17:20] kevinch-nv commented on #627
Can you use the latest version of TensorRT? You can check our operator support matrix [here.](https://github.com/onnx/onnx-tensorrt/blob/master/docs/operators.md)

[2021-02-01 17:21] kevinch-nv commented on #625
What version of TRT are yo using? Are you able to share the model?

[2021-02-01 17:23] kevinch-nv commented on #624
Yes, we have two tools documented [here ](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt) that you can use. Typically to change the precision you can use the flags `--fp16` / `--int8` to have TensorRT optimize your networks in those precisions.

[2021-02-01 17:26] kevinch-nv commented on #623
See the FAQ section [here](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt) regarding INT8 quantized operator support.

Currently in TRT 7.2 we only support DequantizeLinear and QuantizeLinear, but we are actively working on increasing our support for these operators in the future.

[2021-02-01 17:50] kevinch-nv commented on #618
Marking this as an enhancement for supporting ScatterND in the future.

[2021-02-01 17:52] kevinch-nv commented on #617
Can you provide more information about your environment and reproduction steps?

See the [bug template](https://github.com/onnx/onnx-tensorrt/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) for the information that you should provide

[2021-02-01 17:57] kevinch-nv commented on #614
@DJT777 can you provide the scripts / TF / TF2ONNX versions you used to convert these models?

[2021-02-01 17:58] kevinch-nv commented on #611
Thanks @kelia for the response. This error occurs because you haven't synced all the required submodules to build. Closing this issue.

[2021-02-01 17:58] #611 closed

[2021-02-01 18:07] kevinch-nv commented on #610
The latest release of the main TensorRT Repository will have instructions for building the Python bindings from source - see this MR (https://github.com/NVIDIA/TensorRT/pull/1038). Closing this issue, if you have trouble building the python bindings please follow up on the main TensorRT repo.

[2021-02-01 18:07] #610 closed

[2021-02-01 18:13] kevinch-nv commented on #378
@nlunscher-cpr HWC can be supported in the parser if we add transposes. I can work on the change adding this.

@jiarenyf the `Attribute not found: axes` error doesn't sound like it's coming from the Pad op  - since there's no axes input / attribute for that operator.

[2021-02-01 18:13] kevinch-nv commented on #388
Closing due to no repro, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:13] #388 closed

[2021-02-01 18:14] kevinch-nv commented on #387
Closing due to no repro, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:14] #387 closed

[2021-02-01 18:15] kevinch-nv commented on #398
Closing due to no repro, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:15] #398 closed

[2021-02-01 18:15] kevinch-nv commented on #409
Closing due to no response, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:15] #409 closed

[2021-02-01 18:17] kevinch-nv commented on #411
Closing due to no activity in this thread., if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

Note that we have added a new [FAQ section](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md)to onnx-tensorrt, and one of the topics deals with this issue.

[2021-02-01 18:17] #411 closed

[2021-02-01 18:18] kevinch-nv commented on #423
@vilmara please see the newly added [FAQ section](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md) and try using our tools to constant fold the graph to see if that fixes your issue.

[2021-02-01 18:19] kevinch-nv commented on #425
Closing due to no repro., if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:19] #425 closed

[2021-02-01 18:19] kevinch-nv commented on #428
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:19] #428 closed

[2021-02-01 18:20] kevinch-nv commented on #429
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:20] #429 closed

[2021-02-01 18:20] kevinch-nv commented on #432
Closing due to no activity in this thread., if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:20] #432 closed

[2021-02-01 18:20] kevinch-nv commented on #440
Closing due to no activity in this thread., if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:20] #440 closed

[2021-02-01 18:20] kevinch-nv commented on #442
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:20] #442 closed

[2021-02-01 18:21] kevinch-nv commented on #448
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:21] #448 closed

[2021-02-01 18:21] kevinch-nv commented on #451
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:21] #451 closed

[2021-02-01 18:22] #456 closed

[2021-02-01 18:23] kevinch-nv commented on #464
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:23] #464 closed

[2021-02-01 18:23] kevinch-nv commented on #465
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:23] #465 closed

[2021-02-01 18:24] kevinch-nv commented on #469
Can you provide your ONNX model or the scripts to generate your ONNX model?

[2021-02-01 18:24] kevinch-nv commented on #483
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:24] #483 closed

[2021-02-01 18:24] kevinch-nv commented on #486
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:24] #486 closed

[2021-02-01 18:25] kevinch-nv commented on #487
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:25] #487 closed

[2021-02-01 18:25] kevinch-nv commented on #489
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:25] #489 closed

[2021-02-01 18:25] kevinch-nv commented on #490
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:25] #490 closed

[2021-02-01 18:25] kevinch-nv commented on #491
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:25] #491 closed

[2021-02-01 18:26] kevinch-nv commented on #493
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:26] #493 closed

[2021-02-01 18:26] #495 closed

[2021-02-01 18:26] kevinch-nv commented on #468
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:26] #468 closed

[2021-02-01 18:26] kevinch-nv commented on #481
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:26] #481 closed

[2021-02-01 18:27] kevinch-nv commented on #502
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:27] #502 closed

[2021-02-01 18:27] kevinch-nv commented on #505
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:27] #505 closed

[2021-02-01 18:27] kevinch-nv commented on #520
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:27] #520 closed

[2021-02-01 18:27] kevinch-nv commented on #523
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:27] #523 closed

[2021-02-01 18:28] kevinch-nv commented on #524
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:28] #524 closed

[2021-02-01 18:28] kevinch-nv commented on #525
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:28] #525 closed

[2021-02-01 18:28] kevinch-nv commented on #528
Closing due to no activity in this thread, if you are still having troubles feel free to open a new issue with a repro on the latest version of TRT.

[2021-02-01 18:28] #528 closed

[2021-02-01 21:10] DJT777 commented on #614
@kevinch-nv
It has been a few weeks since I was at this phase in my model training. Furthermore I discarded or edited a bunch of notebooks which were not working after attempting these methods. I believe each was a was pulled directly from the TensorFlow zoo and trained using the TensorFlow 2 API.

I can share the model files if you would like.

[2021-02-01 21:23] kevinch-nv commented on #614
Yes, sharing the model files would be the easiest way for us to debug your issue.

[2021-02-01 21:31] DJT777 commented on #614
@kevinch-nv

I believe that these two models are the ones I am using. The "updated" file has the input datatype changed via graphsurgeon to be compatible with TensorRT.

[2021-02-01 21:31] DJT777 commented on #614
@kevinch-nv

Link: https://drive.google.com/drive/folders/10GBLg5rH2GAbdmNDUh3nB-Ek1Afl2Kms?usp=sharing

[2021-02-02 05:32] zzyzzyzz commented on #617
cuda: 10.2
cudnn: 8.0.5
tensorrt: 7.2.2
When i install two cuda patches, the problem was solved.

[2021-02-02 05:33] #617 closed

[2021-02-02 06:56] ThrillerWYY commented on #429
hello ,i have met the same problem,my vision is cuda10.0 torch1.4 tensorrt7.0 ,can you tell me how to solve ?

[2021-02-02 08:11] marcomgg commented on #625
Hi, I'm using the last version of trt. You can download the model from here:
https://drive.google.com/file/d/1-gOVBgP93AlBhX11yfv7OJH9IKF1vECO/view?usp=sharing

[2021-02-02 12:38] nikhil-salodkar commented on #636
Thanks a lot for pointing that out. It is working now.

[2021-02-02 12:39] #636 closed

[2021-02-02 16:35] hyperfraise commented on #455
I'm also very interested in this.

[2021-02-03 02:42] fan-chao commented on #625
I also encountered this problem when parsing yolov5 model. Has this issue been solved?

[2021-02-03 02:46] fan-chao commented on #587
You can try the latest version TensorRT 7.2.2 which sovled this INT8 problem.

[2021-02-03 09:32] axeldavy commented on #378
I can confirm that tensorflow's ZeroPadding2D converted to onnx works with the latest TensorRT release.

[2021-02-03 16:55] axeldavy commented on #378
Actually, tensorflow seems to have some randomness in its generated onnx...
Depending on my network weights, the onnx generated is slightly different.

And sometimes TensorRT manages to read and execute it.
And sometimes it says
[8] Assertion failed: convertOnnxPadding(onnxPadding, &begPadding, &endPadding) && "This version of TensorRT only supports padding on the outer two dimensions!"

So it'd b

[2021-02-05 18:56] VeeranjaneyuluToka opened #638 "Network has dynamic or shape inputs, but no optimization profile has been defined"
## Description

## Environment

**TensorRT Version**:  7.1.3
**ONNX-TensorRT Version / Branch**: master
**GPU Type**: jetson xavior
**Nvidia Driver Version**:
**CUDA Version**: 10.2.89
**CUDNN Version**: 8.0.0.180
**Operating System + Version**:
**Python Version (if applicable)**: 3.6
**TensorFlow + TF2ONNX Version (if applicable)**: tf q2.3
**PyTorch Version (if applicable)**:
**Baremetal or Cont

[2021-02-06 00:29] kevinch-nv commented on #638
Does the model run with trtexec?

[2021-02-06 00:38] kevinch-nv commented on #637
Can you provide your ONNX model?

[2021-02-06 01:29] ThrillerWYY opened #639 "In node -1 (importInstanceNormalization): UNSUPPORTED_NODE: Assertion failed: !isDynamic(tensorPtr->getDimensions()) && "Instancoes not support dynamic inputs!""
## Description

when i convert model.onnx to model.trt, i met this problem, somebody suggested update the version,but it's useless for me . Has anybody solved this problem?

## Environment

**TensorRT Version**: 7.1.3.4
**ONNX-TensorRT Version / Branch**: onnx16.0
**GPU Type**: GTX2080Ti
**Nvidia Driver Version**: 440.33
**CUDA Version**: cuda10.2
**CUDNN Version**: 8.0
**Operating System + Versio

[2021-02-06 08:10] VeeranjaneyuluToka commented on #638
I just now tried with trtexec command as below
./trtexec --onnx=/data/Veeru/models/classification/thebeast_onnx/model_thebeast.onnx --shapes=input:8X456x456x3
got something like below
PASSED TensorRT.trtexec # ./trtexec --onnx=/data/Veeru/models/classification/thebeast_onnx/model_thebeast.onnx --shapes=input:8X456x456x3
which means i think it is run correctly but how do i save trt file or will it

[2021-02-06 08:31] VeeranjaneyuluToka commented on #638
I can save also using --saveEngine option, next am checking how to load trt file and run the inference.

[2021-02-06 10:12] VeeranjaneyuluToka commented on #638
I could solve this issue using trtexec. so closing this issue.

[2021-02-06 10:12] #638 closed

[2021-02-07 05:08] alicera commented on #637
The steps will get the onnx model
I based on NGC "nvcr.io/nvidia/mxnet:20.12-py3" to do

docker pull nvcr.io/nvidia/mxnet:20.12-py3
git clone --recursive https://github.com/apache/incubator-mxnet mxnet
cd mxnet
git checkout v1.x
cp -r ./python/mxnet/contrib/onnx/mx2onnx/ /opt/mxnet/python/mxnet/contrib/onnx/
pip install onnx==1.7.0

But I try to use onnx2trt.
resnest14 and resnest26 fail.
resnest5

[2021-02-08 17:14] Drimz11 commented on #180
out_num = output.argmax(2)[-1].item()

Can you explain me the code ?

[2021-02-09 07:20] bulatnv commented on #501
Hello @kevinch-nv, @zhouyuangan.

Did you found a solution to this problem?

I'm aiming to convert faster rcnn from torchvision.
Torch exports one of the nodes as %2432 = Constant[value = <Scalar Tensor []>]()
After applying ONNX optimizer or simplifier this initializer become %2432[DOUBLE, scalar]
As a result: Found unsupported datatype (11) when importing initializer: 2432.
I'm using TensorRT 7.

[2021-02-15 11:10] Semen52 commented on #442
Hi,
Could you please provide a version where fix was applied?

[2021-02-15 16:16] marcomgg commented on #625
@kevinch-nv sorry for tagging you, do you have any good news?

[2021-02-15 18:33] DenisKuplyakov opened #643 "Package can't be installed without cuda runtime libraries available"
By the moment setup.py script imports onxx_runtime [only to extract version information](https://github.com/onnx/onnx-tensorrt/blob/master/setup.py#L38). But this import leads to import of tensorrt, which requires cuda runtime libraries to be available. Thus makes it problematic to build docker images with onxx_runtime inside in CI/CD env without GPUs and cuda runtime.

Some refactoring is require

[2021-02-16 18:29] kevinch-nv commented on #442
@Semen52 please try the master branch as it contains the most up-to-date changes.

If you are still seeing an error, please open a new issue.

[2021-02-17 21:20] reymondzzzz opened #644 "use custom layer in builder"
Hi! I created custom layer for torch, registrated in onnx ops and converted in onnx model finaly. Also I wrote trt plugin for this layer. Model builded correctly, but I set all parameters from onnx attributes like constant. How can I get attributes in plugin. Can I do it without modify onnx parser and rebuild this repo?
[code]

[2021-02-18 09:41] jinfagang commented on #501
@bulatnv onnx optimizer will not change tensor data types.

[2021-02-19 03:18] jinfagang commented on #608
@kevinch-nv Hi, I met this error even I am covert a float32 onnx model to tensorrt.

[code]

The code raises this error is:

[code]

Do u have any idea why it behavior like that?

[2021-02-19 03:55] jinfagang opened #645 "[8] Assertion failed: ctx->network()->hasExplicitPrecision() && "TensorRT only supports multi-input conv for explicit precision QAT networks!""
Hi, I try to convert a model of onnx with normal data type float32 not QAT models. But it gives me this error message:

[code]
And I can reproduce this error with this minimal code:

[code]

If you export onnx with pytorch 1.7, and try convert to trt engine, it will shows this error:

[code]

You might will ask why using  `torch.tensor(0.03, dtype=torch.float)` in `>` op, it was **because if not,

[2021-02-19 05:12] jinfagang commented on #645
@mk-nvidia To be more specific, is this problem:

[code]

The root reason is this op can not be exported `preds = F.conv2d(x, b,
                             stride=1)`

Which we always use in many mordern models such as SOLOv2, dynamic Convolutions.

[2021-02-19 08:27] Mirocle007 commented on #378
In node -1 (importPad): UNSUPPORTED_NODE: Assertion failed: inputs.at(1).is_weights()

[2021-02-19 08:39] lchewhun opened #646 "Assertion failed: sizeKnown(), file onnx-tensorrt\ShapeTensor.hpp, line 85"
## Description

I'm unable to load a simple onnx model for compilation to a TensorRT model. The debug build of onnx2trt.exe flags an assertion failure: sizeKnown() in ShapeTensor.hpp: Line 85.

## Environment

**TensorRT Version**: 7.2.2.3

**ONNX-TensorRT Version / Branch**: Master
**GPU Type**: GTX 1060
**Nvidia Driver Version**: 465.42
**CUDA Version**: 11.3
**CUDNN Version**:
**Operating Syste

[2021-02-24 05:50] dnnyyq commented on #407
@kevinch-nv ， can you show what version of fixed， Tensorrt 7.1？ Tensorrt 7.2

I meet same error in tensorrt 7.0

[2021-02-24 06:43] developer0hye commented on #601
@jinfagang  How do you solve this problem?

[2021-02-24 11:30] taxuezcy commented on #370
i have the same problem,how you solved it?

[2021-02-24 11:31] taxuezcy commented on #370
@oscarriddle

[2021-02-25 04:30] taxuezcy opened #647 "accuracy drop largely form onnx2trt6 to onnx2trt7"
## Description

## Environment

**TensorRT Version**: 7
**ONNX-TensorRT Version / Branch**:7
**GPU Type**:
**Nvidia Driver Version**:
**CUDA Version**: 10.2
**CUDNN Version**: 7.6.5
**Operating System + Version**:
**Python Version (if applicable)**:
**TensorFlow + TF2ONNX Version (if applicable)**:
**PyTorch Version (if applicable)**: 1.6
**Baremetal or Container (if container which image + tag)**

[2021-02-25 09:13] developer0hye commented on #506
@chenfeiyi  Thanks! You saved my life...

[2021-02-25 16:28] austinmw commented on #199
@kevinch-nv Hi, I'm unable to upgrade my TRT version as I need to use CUDA 10.2. Is there any way to solve this issue with TensorRT 6.0.1? Or is it possible to upgrade beyond 6.0.1 with CUDA 10.2?

[2021-02-26 03:43] cwlinghk opened #648 "how to use precision 16 in python module?"
As title, I would like to convert an onnx model to trt with fp16 by using python  module. Thanks

[2021-02-26 08:10] RunningLeon commented on #455
@kevinch-nv
Hi, I'm facing the same problem and K of TopK should be dynamic if we feed dynamic input into a model using TensorRT.
And in ONNXRuntime the K is dynamic.
BTW, is there any plan on this issue?
Thanks.

[2021-02-26 13:28] DenisKuplyakov commented on #643
Related issue from SO: https://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined-in-setup-py-setuptools-in-my-package

[2021-02-27 20:47] vilmara opened #649 "[8] Assertion failed: (transformationMode == ...") && "TensorRT only supports ... modes for linear resizes when sizes are provided!""
## Description

Error converting model ONNX->TRT

## Environment

**TensorRT Version**:   7.2.1
**ONNX-TensorRT Version / Branch**: 7.2.1
**GPU Type**: T4
**Nvidia Driver Version**: 450.51.06
**CUDA Version**: 11.1
**CUDNN Version**: 8.0.4
**Operating System + Version**: Ubuntu 18.04
**Python Version (if applicable)**: 3.6
**TensorFlow + TF2ONNX Version (if applicable)**:  `tensorflow=1.15.2, onnx

[2021-03-01 06:51] Sayyam-Jain commented on #500
Can you please tell me how to add multiple optimisation profiles using trtexec. I can't seem to find any example anywhere. I know it is possible to do using Python and C++ API but I've no idea about trtexec.

Thanks

[2021-03-01 21:12] kevinch-nv commented on #500
@Sayyam-Jain please see the last example here: https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec#example-4-running-an-onnx-model-with-full-dimensions-and-dynamic-shapes

[2021-03-01 22:35] Sayyam-Jain commented on #500
@kevinch-nv Thank you but I meant Optimisation Profiles where I can set multiple min, opt and max sizes for different optimisation profiles.

Eg. like this: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#opt_profiles
but only using trtexec. Using trtexec, I can set maximum only 1 profile (min, opt & max) but with Python API you can add multiple such profiles

[2021-03-02 19:52] samsterckval commented on #518
I can't find how to solve this using the supplied links, could anyone help me where I could define this optimization profile?

[2021-03-03 02:37] simmed00 commented on #615
I have the same problem. Thank you very much for the solve. But one more question, where should I inserted the custom code? Rewrite the F.interpolate function in pytorch? or just onnx export model?

[2021-03-03 09:50] lihaoxiang1989 commented on #378
After one year, this issue is still there :(

[2021-03-03 13:21] zlpson commented on #604
ok,I will share you the ONNX model.this ONNX model is based on ResNet50.the TRT version is 5.0.2.6.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "onnx/onnx-tensorrt"                                                                                    <notifications@git

[2021-03-04 02:21] lihaoxiang1989 commented on #378
I got this resolved by using [onnx-simplifier](https://github.com/daquexian/onnx-simplifier)

[2021-03-05 02:43] JoeyforJoy commented on #360
I solved this issue by following it.

[2021-03-08 03:46] whcjb commented on #407
meet same error in tensorrt7.0. someone can help?

[2021-03-08 03:54] yulinhuyang opened #650 "how can I use torch.nn.functional.conv1d in tensorRT？"
## Description

I use  torch.nn.functional.conv1d(img, query) as a module in torch, but it can not convert to a onnx/tensorRT module successfully,so  how can I implement it in tensorRT。

## Environment

**TensorRT Version**:  6.1
**ONNX-TensorRT Version / Branch**:
**GPU Type**:
**Nvidia Driver Version**:
**CUDA Version**:  10
**CUDNN Version**: 7.6
**Operating System + Version**:
**Python Version

[2021-03-08 08:30] whcjb commented on #378
still have the problem，some one can help?
`[TensorRT] VERBOSE: ModelImporter.cpp:180: Constant_87 [Constant] outputs: [178 -> ()],
[TensorRT] VERBOSE: ModelImporter.cpp:107: Parsing node: Pad_88 [Pad]
[TensorRT] VERBOSE: ModelImporter.cpp:123: Searching for input: 104
[TensorRT] VERBOSE: ModelImporter.cpp:123: Searching for input: 177
[TensorRT] VERBOSE: ModelImporter.cpp:123: Searching for input:

[2021-03-08 20:43] codethief opened #651 "trtexec works fine but onnx2trt yields "Network has dynamic or shape inputs, but no optimization profile has been defined""
## Description

I'm trying to convert a model from ONNX to TRT. The following works fine:

[code]

But

[code]

yields

Since `$ /usr/src/tensorrt/bin/trtexec --onnx=model.onnx --batch=1` results in the same error message, I assume I must pass the precise input shape to `onnx2trt`. Is there any way to do that? How else can I specify the "optimization profile" / fixate the input shape?

## Environm

[2021-03-08 20:56] codethief commented on #651
Never mind, I just realized that onnx-tensorrt for TensorRT 7.2.2 comes with dynamic shape support, so I should probably give this a try first.

[2021-03-08 20:56] #651 closed

[2021-03-08 23:43] scuizhibin opened #652 "How to deserialize a network with custom plug-ins? Creatorfactory is available for versions below 7.0, how to do it for versions above 7.0?"

[2021-03-09 14:07] opeide commented on #452
Exact same issue when using pytorch (1.8) onnx export and tensorrt (7.2) onnx parsing. Not sure which who is at fault here, but there is clearly a serious bug when you can't even export then import a simple padding function. How has this not been fixed or seriously addressed yet?

[2021-03-11 01:09] whcjb commented on #414
the same problem, pytorch1.6, onnx1.8, tensorrt7.0

[2021-03-11 03:28] Xujianzhong commented on #555
Tanks, the problem has been found and solved，it was caused by the FP16 vaule out of bounds.

[2021-03-12 09:58] Jucjiaswiss opened #654 "[8] Assertion failed: trt_dtype == nvinfer1::DataType::kHALF && cast_dtype == ::ONNX_NAMESPACE::TensorProto::FLOAT"
Tensorrt:6
Platform: JetsonNano
![webwxgetmsgimg](https://user-images.githubusercontent.com/18287639/110924034-86feaf80-835c-11eb-8ff4-79c2fdb75c0f.jpeg)
 Anyone solved this ? Help!

[2021-03-12 11:27] quancq commented on #378
I have same problem when build TensorRT engine from onnx model. My model has RoBERTa model. I used opset_version=13 when convert Pytorch model to Onnx model. If i use opset_version=12, error is: [TensorRT] ERROR: INVALID_ARGUMENT: getPluginCreator could not find plugin CumSum version 1 ERROR: Failed to parse the ONNX file.
Is there any solution yet? Thanks.

[2021-03-18 03:37] whcjb opened #655 "UNSUPPORTED_NODE: Assertion failed: filter_dim.d[nbSpatialDims - i] == kernel_tensor_ptr->getDimensions().d[kernel_tensor_ptr->getDimensions().nbDims - i]"
## Description

convert onnx to tensorrt, occur  (convMultiInput): UNSUPPORTED_NODE: Assertion failed: filter_dim.d[nbSpatialDims - i] == kernel_tensor_ptr->getDimensions().d[kernel_tensor_ptr->getDimensions().nbDims - i] error

## Environment

**TensorRT Version**:  7.1.3.4
**ONNX-TensorRT Version / Branch**:
**GPU Type**: p40
**Nvidia Driver Version**: 450.51.06
**CUDA Version**: 10.2
**CUDNN Ve

[2021-03-18 10:26] chenjun2hao commented on #618
@kevinch-nv ,Any other ways to bypass this operator？

[2021-03-19 01:04] ThrillerWYY commented on #639
help....

[2021-03-19 09:40] jinfagang opened #656 "F.conv onnx export better support"
Pls test this simple model export:

[code]

This is a **dead simple** model, but Pytorch can not export it make it convertable to trt.

When I convert to trt, it got:

[code]

![image](https://user-images.githubusercontent.com/21303438/111760681-f3882a00-88d9-11eb-9aab-ff998a8079ff.png)

I don't sure is pytorch side problem or onnx-tensorrt side problem, But I can not convert any model which conta

[2021-03-19 09:42] zzypeak commented on #652
I've got the same problem, it works well in cpp code blow,
[code]
but i don't know how to do this in python.

[2021-03-21 08:36] Nevermaker commented on #656
了

[2021-03-22 13:22] toreolsensan opened #658 "Pad-11 parsing does not handle non-float32 constant values"
Our Pad layers have float16 constant_weight values, which even when they are actually all 0 sometimes fail to pass the assertion that value == .0f. It seems the Pad importer function assumes the value is always 32-bit, causing not only the 16-bit value but also the following two bytes to be included. So depending on what follows the Pad layer the assertion may fail.

Now, I don't know how to prope

[2021-03-22 19:13] hoangmt commented on #302
The opset value seems to be tricky to me. Can anybody shine some light on the meaning of the values and how to set the value?

[2021-03-23 02:48] jinfagang commented on #656
I guess this issue is too decent that no one really got this step? @kevinch-nv  Please have a look, pytorch code is included.

[2021-03-23 08:57] jinfagang commented on #618
This can be avoided by switching inplace index by concate.

[2021-03-25 02:43] dedoogong commented on #646
I faced the same problem, when the parsing node is Pad and input tensor is 2D([2,2] shape ) and padding is [1,0,0,0] (it's for 4D).

[03/24/2021-08:18:11] [I] [TRT] Parsing node: avg_pool/SpaceToBatchND_pad__515 [Pad]
[03/24/2021-08:18:11] [I] [TRT] Searching for input: avg_pool/BatchToSpaceND_cast__588:0
[03/24/2021-08:18:11] [I] [TRT] Searching for input: const__328
[03/24/2021-08:18:11] [I] [TR

[2021-03-25 02:45] dedoogong opened #660 "[BUG] TRT parsing faile : [PAD] node -> in case of 2D input, 2D padding fail "assertion sizeKnown() failed""
## Description

When the parsing node is Pad and input tensor is 2D([2,2] shape ) and padding is [1,0,0,0] (it's for 4D) the error occurs as below;

[03/24/2021-08:18:11] [I] [TRT] Parsing node: avg_pool/SpaceToBatchND_pad__515 [Pad]
[03/24/2021-08:18:11] [I] [TRT] Searching for input: avg_pool/BatchToSpaceND_cast__588:0
[03/24/2021-08:18:11] [I] [TRT] Searching for input: const__328
[03/24/2021-0

[2021-03-25 03:05] dedoogong commented on #533
same ehre https://github.com/onnx/onnx-tensorrt/issues/660

[2021-03-25 08:21] dedoogong commented on #660
I tried to insert 2 Unsqueeze and 2 Squeeze nodes before/after the pad node to make the 2D input to 4D and then recover the 4D to 2D back. but I got similar error again.
[03/25/2021-08:10:48] [I] [TRT] Parsing node: avg_pool/SpaceToBatchND_pad__598 [Pad]
[03/25/2021-08:10:48] [I] [TRT] Searching for input: Unsqueeze_1
[03/25/2021-08:10:48] [I] [TRT] Searching for input: const__2172
[03/25/2021-08:

[2021-03-25 12:38] jinfagang commented on #656
@mk-nvidia Pls have a look

https://github.com/pytorch/pytorch/issues/54314

[2021-03-26 02:08] chenjun2hao commented on #618
thanks, i have solved.

[2021-03-26 05:50] csliuchang commented on #617
whats cuda patches do you install? i also have this problem, Help!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-03-26 08:57] p890040 commented on #378
Hi guys.
I solved this problem by reshaping inputs to 4 dimensions.
For example, the input dimension is [123, 4], and I want to pad to [1000, 4].

Replace
`output = F.pad(input, (0,0,0,1000-123))`
with
[code]
![pad](https://i.imgur.com/r9HcBOK.jpg)

[2021-03-27 12:09] xavidzo commented on #583
Hello @berkantay, I face the same issue that the model requires numpy as input, not a tensor. I get the input to my model from a previous output of another layer as tensor, which I have to transfer from gpu to cpu and cast to numpy for the engine.run(inpu_data). Moving from gpu to cpu takes 40 ms, it's too slow...
Did you solve your problem, may I ask how?

[2021-03-28 13:15] YoushaaMurhij commented on #583
I face the same problem. the input is a tensor from another layer. How to shape it without detaching to CPU?

[2021-03-28 14:12] YoushaaMurhij opened #661 "Set the engine input to be a Pytorch Tensor"
It is not clear how to specify a Pytorch tensor as an input. Is it possible here or just a Numpy format is accepted.
I want to convert only a part of my model to TensorRT so the input would a tensor and it is not a right way to detach the Tensor to CPU to convert it to Numpy format. Any suggestions?
Thanks!

[2021-03-28 22:16] berkantay commented on #583
I did not solve it actually, used recommended tensorrt repository on official yolov5 github page.

[2021-03-29 06:50] fcc315 commented on #370
I am having a similar problem: trt_fp32 inference performance (resnet18, top-1 accuracy) is not the same as the original PyTorch.  Trying to figure out where causes this performance downgrade. Does anyone have any clues?

[2021-03-30 02:15] leaf918 commented on #451
Converting with tensorRT 7.2.2.3 ,occur same error:
`[03/29/2021-12:31:30] [E] [TRT] /home/jenkins/workspace/OSS/L0_MergeRequest/oss/parsers/onnx/ModelImporter.cpp:706: --- End node ---
[03/29/2021-12:31:30] [E] [TRT] /home/jenkins/workspace/OSS/L0_MergeRequest/oss/parsers/onnx/ModelImporter.cpp:708: ERROR: /home/jenkins/workspace/OSS/L0_MergeRequest/oss/parsers/onnx/builtin_op_importers.cpp:548 I

[2021-03-31 10:19] carlsummer commented on #554
How do you solve this problem？

[2021-03-31 10:38] carlsummer commented on #617
you can try：
/TensorRT-7.2.2.3/bin/trtexec --onnx=/user_data/model_data/checkpoint-best.onnx --tacticSources=-cublasLt,+cublas --workspace=2048 --fp16 --saveEngine=/user_data/model_data/checkpoint-best.engine

[2021-03-31 10:39] carlsummer commented on #617
but `onnx2trt /user_data/model_data/checkpoint-best.onnx -o /user_data/model_data/checkpoint-best.trt` is error
[2021-03-31 10:26:55     BUG] Assertion failed: cublasStatus == CUBLAS_STATUS_SUCCESS
../rtSafe/cublas/cublasLtWrapper.cpp:279
Aborting...
[2021-03-31 10:26:55   ERROR] ../rtSafe/cublas/cublasLtWrapper.cpp (279) - Assertion Error in getCublasLtHeuristic: 0 (cublasStatus == CUBLAS_STATUS_

[2021-03-31 13:51] carlsummer opened #662 "CUBLAS_STATUS_SUCCESS"
CUBLAS_STATUS_SUCCESS
![image](https://user-images.githubusercontent.com/16281965/113155126-4b744880-926b-11eb-94ef-23f84fd14d06.png)

[2021-03-31 14:06] carlsummer commented on #662
sh /external_datas/cuda_10.2.1_linux.run

[2021-04-01 03:03] peri044 opened #663 "Average pool layer - "count_include_pad" attribute"
## Description

It looks like the default value for `count_include_pad` is `True` in pytorch layer - https://pytorch.org/docs/stable/generated/torch.nn.AvgPool2d.html

However, torch.onnx.export doesn't seem to include `count_include_pad` as an attribute to Average pool layer-
https://github.com/pytorch/pytorch/blob/790b69e0964f1779c1f071e8f5e7a9a35967985c/torch/onnx/symbolic_opset11.py#L314
Also,

[2021-04-02 07:02] grimoire opened #664 "Would it be better to use elementwise instead of activation to implement Clip op?"
Hi,
There are some limits when we convert clip ops to TensorRT such as :
https://github.com/onnx/onnx-tensorrt/blob/984e57c7768a9bea3d2a8369ed199529f603d13b/builtin_op_importers.cpp#L414

It is inevitable cause the clip ops is built as an activation layer. Could we use elementwise max/min when max/min is not constant? That would remove the limit with negligible cost(I think).

[2021-04-04 03:52] ajaichemmanam commented on #618
How to concatenate in my case?

[code]

How to replace this code?

[2021-04-05 08:03] sonctmirasoft commented on #518
`    with trt.Builder(TRT_LOGGER) as builder, builder.create_network(network_creation_flag) as network, trt.OnnxParser(network, TRT_LOGGER) as parser, builder.create_builder_config() as config:
        profile = builder.create_optimization_profile()
        profile.set_shape("input_1", (1, 224, 224, 3), (1, 224, 224, 3), (1, 224, 224, 3))
        config.add_optimization_profile(profile)
        en

[2021-04-07 07:16] dedoogong commented on #660
the onnx file is here,
[aslfeatv2_op11_custom_const_padding_v3.zip](https://github.com/onnx/onnx-tensorrt/files/6269667/aslfeatv2_op11_custom_const_padding_v3.zip)
I'm not sure why it fails to infer the Padded shape of 2D input and padding value of [1, 0, 0, 0]...

Please help me!

[2021-04-07 21:44] hoangmt commented on #411
I tried all the tricks here but still get this error message.
Code to reproduce:
[code]
The following code generates **builtin_op_importers.cpp:2220 In function importPad:
[8] Assertion failed: inputs.at(1).is_weights()**
[code]

[2021-04-08 08:59] hoangmt commented on #378
Seems like the problem is still there. Very simple code (modified from test) to reproduce:
[code]
Check that the model runs well
[code]
The following code generates **builtin_op_importers.cpp:2220 In function importPad:
[8] Assertion failed: inputs.at(1).is_weights()**
[code]
Also tried onnx-simplifier but does not work.

[2021-04-08 10:23] etusien opened #665 "Please verify 1.9 ONNX release candidate on TestPyPI"
Hi ONNX partner,
We have released TestPyPI packages of ONNX 1.9.0: [onnx ](https://test.pypi.org/project/onnx/ )(onnx 1.8.204 is the latest version number for testing now).
Please verify it and let us know about any problems. Thank you for your help!

[2021-04-08 12:55] hoangmt commented on #378
With slight modification, the following code generate an onnx model using Pad operator that can be converted to tensorRT using trtexec.
[code]
Removing initializer in helper.make_graph create [8] Assertion failed: inputs.at(1).is_weights().
In general, what can I do with Pad operator to convert the model to trt?

[2021-04-09 04:18] quancq commented on #400
I meet same problem. This is my solution.
When call forward method of RoBERTa, if position_ids is None, HuggingFace will call create_position_ids_from_input_ids method to generate position_ids. Inside this function, they use torch.cumsum method. In order to fix bug involve TensorRT not support convert CumSum operator, you need to generate position_ids.

[2021-04-09 09:50] ttyio commented on #663
Hello @peri044 , thanks for reporting,

I am able to repro the failure in 7.2.1, and the fix will be available in next major release.

[2021-04-10 05:01] CoinCheung commented on #597
How could I solve this with c++ api?

[2021-04-10 18:52] yuanzhedong commented on #379
Get the same error, could anyone help? I'm using python 3.6 and trt 5.1

[2021-04-10 19:42] yuanzhedong opened #666 "Got error: Concatenation: all concat input tensors must have the same dimensions except on the concatenation axis"
## Description

## Environment

**TensorRT Version**: 5.1
**ONNX-TensorRT Version / Branch**: 5.1
**GPU Type**: RTX2080
**Nvidia Driver Version**: 450.102.04
**CUDA Version**: 10.0
**CUDNN Version**:
**Operating System + Version**: ubuntu 18.04
**Python Version (if applicable)**:
**TensorFlow + TF2ONNX Version (if applicable)**: TF2.4.1 TF2ONNX:2.4.1
**PyTorch Version (if applicable)**:
**Baremeta

[2021-04-11 03:52] yuanzhedong commented on #666
Try to print out the input shape under builtin_op_importers.cpp
[code]
and get this:
[code]

Seems it's trying to concat this two dims and cause that error, but throw onnx file it should be 512x32x32, not sure why it becomes 34 there:
![Screenshot from 2021-04-10 20-51-53](https://user-images.githubusercontent.com/5069709/114291743-a3b30380-9a3e-11eb-82f5-e34cf8747795.png)

[2021-04-11 06:27] yuanzhedong commented on #666
Turns out the onnx file losts the padding attr [1, 1, 1, 1] for conv2d_transpose,
![Screenshot from 2021-04-10 23-20-56](https://user-images.githubusercontent.com/5069709/114294436-758bee80-9a53-11eb-91d5-d33e67928429.png)

hacked to add the padding info into get_kernel_params and now I'm able to get the trt engine. Not sure if there's some way I can preserve the padding info through tf2onnx?
[fix

[2021-04-13 04:01] DeathKnightChen commented on #655
@whcjb Hi, I met the same issue. Have you solved this yet? Thanks.

[2021-04-13 07:51] jinfagang commented on #656
@kevinch-nv @KellenSunderland Daily address

[2021-04-14 11:52] niuwagege opened #668 "[8] Assertion failed: nbSpatialDims == kernelWeights.shape.nbDims - 2"
## Description
converting onnx to tensorrt, occur  [[8] Assertion failed: nbSpatialDims == kernelWeights.shape.nbDims - 2]
![image](https://user-images.githubusercontent.com/3700924/114705050-e421c280-9d59-11eb-9ba5-650249d79c26.png)
command:
./trtexec --onnx=test.onnx --saveEngine=test.trt --explicitBatch --workspace=4096

## Environment

**TensorRT Version**: 7.2.1.6
**ONNX-TensorRT Version / Br

[2021-04-15 00:08] xjsxujingsong commented on #562
@mmaaz60 I met the same problem using C++ code to convert onnx to tensorrt. Is there anyway to solve this problem? What is "ONNX graph "?

[2021-04-15 15:15] mika-fischer commented on #566
When will this be fixed in TensorRT?

[2021-04-15 15:20] pranavm-nvidia commented on #566
@mika-fischer It's already fixed. The ONNX parser [submodule commit in TensorRT](https://github.com/NVIDIA/TensorRT/tree/master/parsers) includes my PR.

[2021-04-15 15:28] mika-fischer commented on #566
Well I'm using TensorRT 7.2.3.4, and still have this issue. I'm using the releases from nVidia, not the OSS version. As I understand it, the OSS version is not a replacement for the official release, right?

Is it recommended to use the parser from the OSS version with the inference engine from nVidia? Then why include the parsers in the official release at all?

In any case the question is, when

[2021-04-15 15:47] pranavm-nvidia commented on #566
Yes, OSS is not a full replacement for the official releases, since only the parsers, plugins, samples, and python bindings are open-source.

The official release is built with a specific commit of the parser, whereas OSS is constantly being updated. So OSS will often include commits not present in the official releases. That's pretty much unavoidable at this point since it's not practical for us

[2021-04-15 15:49] mika-fischer commented on #566
All right, thanks for clearing things up for me and the prompt response!

[2021-04-16 18:22] kevinch-nv commented on #666
Is there a reason you're using an older version of TRT 5.1? Does this issue still persist with the latest version of TRT?

[2021-04-16 18:28] kevinch-nv commented on #668
It looks like your Conv data input is of shape `(-1,3)`, which is incorrect. Are you able to share your ONNX model?

[2021-04-16 18:40] kevinch-nv commented on #664
Yes it's possible. Is there a network that you are trying to import that's blocked on this?

[2021-04-16 18:56] kevinch-nv commented on #639
@ThrillerWYY this limitation is no longer there on the latest version of TRT (7.2.3.4) on the master branch. Can you build the latest version and try importing your model again?

[2021-04-16 20:59] kevinch-nv commented on #145
See https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#custom-layer-support on instructions for adding custom layers through plugins in ONNX-TensorRT.

[2021-04-16 20:59] #145 closed

[2021-04-16 21:04] kevinch-nv commented on #323
Please see here (https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#custom-layer-support) for instructions on getting started for implementing a custom op through a TensorRT plugin.

[2021-04-16 21:04] #323 closed

[2021-04-16 21:05] kevinch-nv commented on #333
Closing due to inactivity - if you still have issues with the latest TRT version feel free to open a new issue.

[2021-04-16 21:05] #333 closed

[2021-04-16 21:10] kevinch-nv commented on #358
Are you saving the engine properly in your code? Is this reproducible with the latest version of TRT?

[2021-04-16 21:11] kevinch-nv commented on #360
Closing as this issue looks to be fixed.

[2021-04-16 21:11] #360 closed

[2021-04-16 21:13] kevinch-nv commented on #361
I recommend using TRT 7.2 and opset 11 for exporting upsample and resizes

[2021-04-16 21:15] kevinch-nv commented on #376
@aljohn0422 were you able to get the repository built?

[2021-04-16 21:15] yuanzhedong commented on #666
Thank you for your response Kevin, the reason we're using TRT5.1 is our products are released and running on jetpack 4.2, which has trt 5.1. If we want to switch to trt 7 we need to recall and reflash all our products and flash them to jetpack 4.4+. For the models we're using right now we go with tf->uff->trt, we're trying to see if it's feasible to switch to tf->onnx->trt5.

[2021-04-16 21:27] kevinch-nv commented on #389
We recommend using at least the opset 11 definition of resize that supports the sizes parameter as it's more generalized than the scales parameter.

[2021-04-16 21:39] kevinch-nv commented on #400
Late to this thread, but it looks like there's a few issues:

1. UINT8 support - we do not natively support this datatype in TensorRT. It looks like in the attached models above the input is casted to a different type right away, meaning that the potential WAR of just casting the input type to float may be the correct one in this case.
2. NMS - we currently do not support the ONNX definition of th

[2021-04-17 02:41] grimoire commented on #664
Thanks for reply.
We are trying to convert object detection model. The Clip OP is used to clamp outputs of box regression. For now, I use some trick to do this like:
https://github.com/grimoire/mmdetection/blob/01a26ff36c25317db137b7efb3ec8d8c08743156/mmdet/core/export/onnx_helper.py#L26
But I do not think this is the best way to do that.

[2021-04-17 21:14] kevinch-nv commented on #666
Thanks for the update. We do not officially support TRT 5.1 anymore, so you may encounter issues in the tf->onnx->trt workflow that will have been fixed in later versions. Please consider updating to a later version of Jetpack if you want increased onnx->trt support.

Either way it looks like you found a work around so I'll be closing this issue.

[2021-04-17 21:14] #666 closed

[2021-04-17 21:16] kevinch-nv commented on #404
Thanks for the report. `onnx2trt` was not written with Windows compatibility in mind, and we recommend using `trtexec` as the main program for converting onnx networks to TensorRT engines. Closing.

[2021-04-17 21:16] #404 closed

[2021-04-17 21:19] kevinch-nv commented on #406
What's the use case of casting INT8->FP32 in this way outside of quantization? It looks from the OP in input is just being casted between different datatypes, so it can be simplified to have the input type be the final casted datatype to begin with

[2021-04-17 21:21] kevinch-nv commented on #421
Closing due to inactivity

[2021-04-17 21:21] #421 closed

[2021-04-17 21:22] kevinch-nv commented on #422
Are you still seeing this issue with the latest TensorRT version?

[2021-04-17 21:23] kevinch-nv commented on #423
Closing due to inactivity - feel free to open a new issue of the problem persists.

[2021-04-17 21:23] #423 closed

[2021-04-17 21:27] kevinch-nv commented on #426
Apologies for the late response. Are you still having trouble with bilinear resizes? We have added support for these in later versions of TensorRT through its resize layer.

[2021-04-17 21:29] kevinch-nv commented on #430
@X-funbean, @ElegantLin are you still encountering this issue?

[2021-04-17 21:30] kevinch-nv commented on #436
Anyone still encountering this issue?

[2021-04-17 21:30] kevinch-nv commented on #443
Closing due to inactivty

[2021-04-17 21:30] #443 closed

[2021-04-17 21:31] kevinch-nv commented on #449
Closing due to inactivity, if you are still having problems please open a new issue.

[2021-04-17 21:31] #449 closed

[2021-04-17 21:37] kevinch-nv commented on #457
Closing this issue due to inactivity - please open a new issue if the problem persists.

[2021-04-17 21:37] #457 closed

[2021-04-17 21:40] kevinch-nv commented on #459
See my answer in #145.

[2021-04-17 21:40] #459 closed

[2021-04-17 21:43] kevinch-nv commented on #461
Thanks for your question. What's the order of magnitude of size difference between the two engines? We have added more kernels in later TRT versions. In addition, if you are building an engine with dynamic shapes, the resulting engine will also be larger.

[2021-04-17 21:45] kevinch-nv commented on #469
Closing due to inactivity. If you are still having issues with the latest master branch feel free to open a new one.

[2021-04-17 21:45] #469 closed

[2021-04-17 21:49] kevinch-nv commented on #476
Closing due to inactivity. If this is still an issue feel free to open a new one.

[2021-04-17 21:49] #476 closed

[2021-04-17 21:51] kevinch-nv commented on #529
See my answer in #145.

[2021-04-17 21:51] #529 closed

[2021-04-17 21:54] kevinch-nv commented on #474
Oops. I'll make a PR addressing this.

[2021-04-17 21:55] kevinch-nv commented on #531
For the first issue, will fix it as part of #474 .

As for the second, it looks like you don't have a compatible protobuf version. What container / protobuf version are you using?

[2021-04-17 21:58] kevinch-nv commented on #660
Thanks for the report, looking into it.

[2021-04-17 22:02] kevinch-nv commented on #533
Closing this issue due to inactivity. @dedoogong tracking your issue separately in #660.

[2021-04-17 22:02] #533 closed

[2021-04-17 22:03] kevinch-nv commented on #535
Closing due to inactivity, feel free to open a new issue if the problem persists.

[2021-04-17 22:03] #535 closed

[2021-04-17 22:03] kevinch-nv commented on #536
Closing due to inactivity. If you are still having issue then feel free to open a new one.

[2021-04-17 22:03] #536 closed

[2021-04-17 22:04] kevinch-nv commented on #537
Closing due to inactivity. If you are still having issues with the latest version feel free to reopen.

[2021-04-17 22:04] #537 closed

[2021-04-17 22:05] kevinch-nv commented on #541
Closing due to inactivity.

[2021-04-17 22:05] #541 closed

[2021-04-17 22:05] kevinch-nv commented on #542
@mneilly did the fix work? Can we close this issue?

[2021-04-17 22:06] kevinch-nv commented on #543
@mneilly  Did the fix work for you? Can this be closed?

[2021-04-18 22:07] kevinch-nv commented on #551
Closing due to inactivity.

[2021-04-18 22:07] #551 closed

[2021-04-18 22:14] #555 closed

[2021-04-19 06:19] NikolasMarkou commented on #426
Hi @kevinch-nv we fixed the issue in our internal repo. And after some time we moved into a newer version

[2021-04-19 06:19] #426 closed

[2021-04-19 08:51] pstadelmann commented on #406
@kevinch-nv In my case, the goal was to reduce the total processing latency by sending 8-bit data instead of fp32 to the GPU.

[2021-04-19 11:41] jinfagang opened #669 "ArgMax very slow"
[code]

Please test this model. You will found whole trt model latency comes to 50ms!!! While this is a simple model only contains 1 conv and 1 interplate.

The largest latency comes from torch.max -> ArgMax in ONNX. If I comment it out, the speed is 5ms.

Anyone knows why?

[2021-04-19 12:32] niuwagege commented on #668
Thanks for reply.
The ONNX model is uploaded to Google Drive.
https://drive.google.com/file/d/1YLdNxVAfTLEi7g61pL2b2HJQPmR0Q1i4/view?usp=sharing

[2021-04-20 03:34] gjm441 opened #670 "Problem converting ONNX model to TensorRT 7.2.1(dien.onnx)"
when i tried convert onnx to tensorrt (trtexec --onnx=dien.onnx) , it occurs error:
----------------------------------------------------------------
Input filename:   dien.onnx
ONNX IR version:  0.0.7
Opset version:    13
Producer name:    tf2onnx
Producer version: 1.9.0
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
[04/20/2021-11:25:41] [

[2021-04-20 12:33] turowicz commented on #400
@kevinch-nv thank you for taking part in this conversation. Is it safe to assume that one day we will be able to make the conversion and this workflow will work?

[2021-04-21 08:12] jinfagang opened #671 "torch.max or ArgMax translate to TensorRT ITopK layer is too slow"
Please note that max do not need TopK, TopK caused too many latency:

![image](https://user-images.githubusercontent.com/21303438/115520038-521b3c00-a2bc-11eb-9528-0f21fb75c64e.png)

max algorithm could be more efficient then TopK

[2021-04-21 10:24] fan-chao commented on #625
@kevinch-nv I use the latest TensorRT 7.2.3 and can also reproduce this issue. How to get the correct dims of output from dynamic shape onnx? Do you have any suggestion?

[2021-04-23 00:16] Sheepy0 opened #672 "saving trt using python backend"
Hello,
I am trying to create a trt model using the Python Backend.

I am able to create the engine using the code below
`import onnx
import onnx_tensorrt.backend as backend
import numpy as np

model = onnx.load("/path/to/model.onnx")
engine = backend.prepare(model, device='CUDA:0')`

How do I save the trt model from here ?

Many thanks

[2021-04-23 09:48] Eashwar93 commented on #671
@jinfagang I think I have a similar problem when compiling the model for jetson Nano

[code]
Do you have any solution for the same?

[2021-04-23 11:54] jinfagang commented on #645
@mk-nvidia Pls look:

![image](https://user-images.githubusercontent.com/21303438/115867385-a0bc0800-a46d-11eb-9bdc-aea7d3e5e2b4.png)

[code]

[2021-04-23 12:05] jinfagang commented on #608
@kevinch-nv Hi, any response of this question?

@zccyman Any solution?

[2021-04-23 15:06] jinfagang commented on #671
@Eashwar93 How did u get this error? By runing what procedure?

[2021-04-23 15:14] Eashwar93 commented on #671
@jinfagang I am trying to convert a segmentation model from onnx to tensorrt. I am using the code from [this](https://github.com/CoinCheung/BiSeNet/blob/master/tensorrt/trt_dep.cpp) repo.

I also tried another way but I  get the same error when I try to use [this](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) repo. I use the command ./trtexec --onnx=model.onnx

[2021-04-23 21:20] kevinch-nv commented on #560
Hi @Nedae, we only support QuantizeLinear and DequantizeLinear operators in TensorRT 7.2. We are planning to extend support and provide better tooling for prequantized networks in the next TensorRT release.

[2021-04-23 21:20] kevinch-nv commented on #561
Closing due to inactivity.

[2021-04-23 21:20] #561 closed

[2021-04-23 21:34] kevinch-nv commented on #563
Closing due to inactivity

[2021-04-23 21:34] #563 closed

[2021-04-24 11:01] jiawenhao2015 opened #673 "build error---onnx2trt_utils.cpp:330:36: error: ‘const class onnx2trt_onnx::TensorProto’ has no member named ‘data_location’"
hi~~~when i build onnx-tensort from source code(master branch),i met such errors,
here are my steps:
`cd onnx-tensorrt&&
mkdir build &&
cd build&&
cmake .. -DTENSORRT_ROOT=<path_to_trt> && make -j`

**_onnx2trt_utils.cpp:330:36: error: ‘const class onnx2trt_onnx::TensorProto’ has no member named ‘data_location’_**

**has anyone met this before???
many many thanks~~~
need help~~~~~~~**

**enviormen

[2021-04-25 02:55] jinfagang commented on #671
@Eashwar93 TensorRT's topk layer definitely have efficiency issue, but I can understand why they do this, it's because of mem usage concern, your temp solution could be make your max operation on smaller tensor WH.

[2021-04-25 08:44] jinfagang commented on #609
@weizhiyi777 No, you have bug in your code, and onnx2trt currently not support multi-input conv.

See my issue you can reproduce, once you exported right onnx model, you will got error like this:

[code]

[2021-04-26 07:12] jackwish commented on #645
@jinfagang TensorRT requires that the second input of the `Conv` is _initializer_ in the ONNX model. It seems to me that your model can be optimized with [ONNX Optimizer](https://github.com/onnx/optimizer) and [ONNX Simplifier](https://github.com/daquexian/onnx-simplifier). Could you try the tools then run TensorRT with the processed ONNX model?

[2021-04-26 09:37] Eashwar93 commented on #671
@jinfagang Could you explain me what the solution is in a bit more detailed way. I am really new to this area of deploying Neural Networks

[2021-04-27 00:11] #663 closed

[2021-04-28 02:00] HaoLiuHust commented on #461
about 2 times size difference, however, it's not a big problem

[2021-04-28 02:00] #461 closed

[2021-04-30 18:32] kevinch-nv commented on #567
@Nadae see my response in #560. Closing this as duplicate.

[2021-04-30 18:32] #567 closed

[2021-04-30 18:35] kevinch-nv commented on #577
Closing due to inactivity - if you're still having problems feel free to open a new issue.

[2021-04-30 18:35] #577 closed

[2021-04-30 18:35] #580 closed

[2021-04-30 18:38] #581 closed

[2021-04-30 18:39] kevinch-nv commented on #584
Closing due to inactivity - if you are still having issues building feel free to open another issue.

[2021-04-30 18:39] #584 closed

[2021-04-30 18:46] #585 closed

[2021-05-01 07:15] Tranks27 commented on #178
I used that command in my cmake for installing opencv3.2 but it was just a quick fix to get over cmake command. It fails when i ran "make -j8'

[2021-05-01 07:16] Tranks27 commented on #178
I used that command in my cmake for installing opencv3.2 but it was just a quick fix to get over cmake command. It fails when i ran "make -j8'

[2021-05-03 17:35] kevinch-nv commented on #670
It looks like you are using the opset 13 version of Unsqueeze which is currently unsupported. Can you try exporting your model to a lower opset (i.e. opset 11)?

[2021-05-03 17:48] kevinch-nv commented on #669
Thanks for the report. Looking into this.

[2021-05-03 17:54] kevinch-nv commented on #671
@jinfagang closing is as a duplicate of #669. @Eashwar93 please open a new issue for your problem, it'll be easier to track that way.

[2021-05-03 17:54] #671 closed

[2021-05-03 18:09] kevinch-nv commented on #672
I would recommend using the following tools  [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) or [polygraphy](https://github.com/NVIDIA/TensorRT/tree/master/tools/Polygraphy) for finer control of using TRT. The python backend in this repo is not as robust as these tools.

[2021-05-03 18:10] kevinch-nv commented on #673
Are you building on the master branch? This looks like the ONNX submodule may be out of sync.

[2021-05-03 20:43] kevinch-nv commented on #660
@dedoogong I've looked at your model, and in TRT we currently do not support padding of INT32 tensors. Can you try adding some cast operations before and after the pad to see if that fixes the issue?

[2021-05-04 04:18] jinfagang commented on #669
@kevinch-nv Glad you pay attention to this issue, I am using TensorRT 7.2.3.

[2021-05-07 08:45] hua1024 commented on #478
@Water2style 遇到同款问题，请问有解决办法吗

[2021-05-07 10:54] leaf918 commented on #634
@kevinch-nv  can you support an sample for RNN convertion?
Thanks

[2021-05-07 18:55] casperbh96 commented on #376
Leaving this code for anyone who needs to build in a Docker container on a Jetson device.

- DCUDA_INCLUDE_DIRS: Modify to match your CUDA version
- DGPU_ARCHS: 53 for Jetson Nano, 62 for Jetson TX2. (lookup if another device)

The rest should match how things were installed on your Jetson.

[code]

These commands should also be runnable outside a docker container given the right paths.

[2021-05-08 05:59] thishome commented on #374
@kevinch-nv hi, i got the same problem, please tell me how can i update trt version to 7.2.0 or new , now it is version 7.1.3 installed by jetPack. Is there a way only to upgraded it on jetson xavier device.

[2021-05-08 07:30] imdoublecats commented on #597
Hello, have you found the C++ api, thank you.

[2021-05-10 17:02] kevinch-nv commented on #374
The corresponding C++ API is `initLibNvInferPlugins()`, See https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/_nv_infer_plugin_8h.html#a5238fbc83e103bce4c85291c8c5b85a6 for how to call it

[2021-05-10 17:19] kevinch-nv commented on #593
Thanks for confirming. The next version of ONNX-TRT will have these transpose optimizations.

[2021-05-10 17:19] #593 closed

[2021-05-10 17:20] kevinch-nv commented on #594
Closing this due to inactivity - if you're still having an issue with the latest version of TRT feel free to open a new issue.

[2021-05-10 17:20] #594 closed

[2021-05-10 17:21] kevinch-nv commented on #595
Closing due to inactivity.

[2021-05-10 17:21] #595 closed

[2021-05-10 17:21] kevinch-nv commented on #596
Closing due to no repro provided.

[2021-05-10 17:21] #596 closed

[2021-05-10 17:26] kevinch-nv commented on #599
Updated the title. The root cause is that we do not support dynamic dimensions for the ReverseSequence operator. Marking as enhancement to fix in a later release.

[2021-05-10 17:28] kevinch-nv commented on #600
You can check out some of our official samples for how to convert models to INT8 - https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleINT8

[2021-05-10 17:28] kevinch-nv commented on #603
Closing due to inactivity.

[2021-05-10 17:28] #603 closed

[2021-05-10 17:29] kevinch-nv commented on #604
You are using a very old TRT version - can you try importing with the latest version of TRT?

[2021-05-10 17:33] kevinch-nv commented on #608
See my reply on 1/22 - are you creating your network definition with both the explict batch and explicit precision flag set?

[2021-05-10 17:34] kevinch-nv commented on #609
We only support multi-input convs for quantized networks. What is the use case of this conv?

[2021-05-10 21:15] huzzziiii opened #679 "error: Could not find suitable distribution for Requirement.parse('six>=1.9')"
I am running a Yocto build and sometime during the build, I see the following error
[code]

The package itself is installed it seems:
[code]

Another thought was the possibility of no internet access but `ping google.com` does work

[2021-05-11 01:51] weizhiyi777 commented on #609
Hi @kevinch-nv multi-input convs are used in SOLOv2 network, which is a instance semantic segmentation network. One of its innovation is using features to predict weights of convs. These weights are used for subsequent conv operations. Details could be found here:

[Paper] https://arxiv.org/abs/2003.10152
[Github Repository] https://github.com/WXinlong/SOLO

I think Tensorrt could support multi-in

[2021-05-11 12:36] Raphael-Hao commented on #625
same problem for convert resnet152 vgg19 models with TensorRT 7.2.3
[code]

[2021-05-11 14:07] jinfagang commented on #609
@weizhiyi777 Some people able convert SOLOv2 to tensorrt: https://mp.weixin.qq.com/s/gk3Rq2kmZ159gZdYNGGvMA

[2021-05-12 02:34] GeLink9999 commented on #580
主要原因：
CUDA_NVCC_FLAGS的编译参数中重复出现-std=c++11
解决办法：
找到CMakeLists.txt文件中list(APPEND CUDA_NVCC_FLAGS "-std=c++11") 或者其他多余的set(.. -std=c++)，注释掉，编译通过。

[2021-05-12 03:08] weizhiyi777 commented on #609
@jinfagang Thanks a lot! I saw this probelm was deal with by other solutions. I will try that.

[2021-05-13 03:36] hexiaoyi95 commented on #406
Same here

[2021-05-13 08:34] wkl2013DeepVision opened #682 "failed! inputs.at(1).is_weights() , how to fix?"
[05/13/2021-14:06:24] [W] [TRT] onnx2trt_utils.cpp:220: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.
[05/13/2021-14:06:24] [W] [TRT] onnx2trt_utils.cpp:246: One or more weights outside the range of INT32 was clamped
ERROR: builtin_op_importers.cpp:2249 In function importPad:
[8] Assertion failed: inputs.at(

[2021-05-13 08:39] wkl2013DeepVision commented on #478
the same problem,  anyone who fix?

[2021-05-13 09:02] wkl2013DeepVision commented on #455
found your many answers  are not the quesqtions's  answers.,  please seriously.

[2021-05-13 16:01] xkszltl opened #683 "libmyelin has gone in trt 8."
## Description

trt 8 doesn't have libmyelin.so anymore.
CMake will get NOTFOUND when looking for it.

## Environment

**TensorRT Version**: 8
**ONNX-TensorRT Version / Branch**: master
**CUDA Version**: 11.3
**CUDNN Version**: 8
**Operating System + Version**: Ubuntu 18.04 / CentOS 7

## Relevant Files

https://github.com/onnx/onnx-tensorrt/blob/b235fb54926c80b17c9c6a8093cacc993c335727/CMakeLists

[2021-05-13 18:55] xkszltl opened #685 "kRNN has been removed in TRT 8"
## Description

`kRNN` has been removed and now there's only `kRNN_v2`.

[code]

[code]

Header from trt 8:
[code]

## Environment

**TensorRT Version**: 8
**CUDA Version**: 11.3
**CUDNN Version**: 8
**Operating System + Version**: Ubuntu 18.04

[2021-05-14 07:18] alicera opened #686 "build onnx-tensorrt (7.2.1)"
## Description
I build the onnx-tensorrt (7.2.1) and show the error

[ 85%] Built target getSupportedAPITest
[ 86%] Building CXX object CMakeFiles/onnx2trt.dir/main.cpp.o
[ 98%] Built target nvonnxparser
/tmp/onnx-tensorrt/main.cpp:26:10: fatal error: onnx/optimizer/optimize.h: No such file or directory
 #include <onnx/optimizer/optimize.h>
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation termina

[2021-05-14 09:15] hrbrmstr commented on #474
#ty

[2021-05-14 20:45] Niloofar-bgh commented on #552
@kevinch-nv  Any update on the integration of NonMaxSuppression ?!
I am trying to convert an SSD model from TF2 model zoo to ONNX and then try to run in on Jetson! I cannot use UFF with TF2 (no Frozen graph in TF2), and ONNX-TensorRT does not support the NonMaxSuppression of the SSD model; any help would be appreciated!

[2021-05-17 09:19] xxueniao commented on #686
checkout onnx to 1.8.1

[2021-05-18 14:38] ChanceQZ opened #687 "How to use script to convert fp16 or other modes?"
Hi, i'm using this library, but I can't find the way to convert fp16 mode in .py source file.

[2021-05-19 02:36] liuxufenfeiya commented on #374
tensorrt 7.2.2，same error

[2021-05-19 09:30] scuizhibin commented on #502
我也遇到了类似的问题，请问这个问题是怎么解决的啊？

[2021-05-19 15:21] sumodnandanwar commented on #376
Note: DGPU_ARCHS: 72 for Jetson Xavier Nx

[2021-05-21 07:27] ChanceQZ commented on #648
Hi, I wander how to use fp16 mode. Have you solved this?

[2021-05-22 15:05] Xiaoyw1998 commented on #609
I also meet this problem when I use F.conv2d. Can you tell me how to solve it? @jinfagang @weizhiyi777

[2021-05-23 06:36] weizhiyi777 commented on #609
@Xiaoyw1998 I didn't solve that yet but in this link maybe you could get some inspiration: https://mp.weixin.qq.com/s/gk3Rq2kmZ159gZdYNGGvMA.
In this blog, the author use matrix multiplication to replace F.conv2d, which could be supported by onnx. I think you could try this solution if you have time.

[2021-05-23 10:45] Xiaoyw1998 commented on #609
Thank you for your reply. But I want to use 7x7 conv, it cannot be replaced by  matrix multiplication.

[2021-05-24 10:47] jackwish commented on #648
[`set_flag`](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Core/BuilderConfig.html#tensorrt.IBuilderConfig.set_flag) with [`FP16`](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Core/BuilderConfig.html#tensorrt.BuilderFlag)

[2021-05-24 20:33] kevinch-nv commented on #683
Thanks @xkszltl for the issue. The master branch is still for TensorRT 7.2 since TensorRT 8.0 is still in EA. I've created a branch https://github.com/onnx/onnx-tensorrt/tree/8.0-EA that you can use to build against TRT 8.0.

[2021-05-24 20:34] #683 closed

[2021-05-24 20:34] kevinch-nv commented on #685
Please use https://github.com/onnx/onnx-tensorrt/tree/8.0-EA to build against TRT 8.0 EA. Master is still for TRT 7.2 since TRT 8.0 is still in early access.

[2021-05-24 20:34] #685 closed

[2021-05-24 20:36] kevinch-nv commented on #686
We do not support ONNX 1.9 yet, please use an earlier version of ONNX as @xxueniao mentioned.

[2021-05-24 20:36] #686 closed

[2021-05-24 21:06] kevinch-nv commented on #687
Hi @ChanceQZ , see https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt. Please use these tools to convert ONNX models into TRT engines. The FP16 flag should just be --fp16 for both of these toosl.

[2021-05-24 21:12] kevinch-nv commented on #682
Can you try following the instructions here to constant fold your model? https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#common-assertion-errors

[2021-05-24 21:36] kevinch-nv commented on #648
I recommend using the tools specified in https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt for generating TensroRT engines from ONNX models since those tools are more supported.

[2021-05-25 08:14] jinfagang opened #689 "8.0-EA build error"
[code]

[2021-05-25 10:21] xkszltl commented on #685
Aha that's what EA means! Can't find the definition of it anywhere.

[2021-05-27 04:52] gjm441 commented on #670
Thanks for reply.When i change to op11,it occurs:
[05/27/2021-04:47:17] [V] [TRT] ModelImporter.cpp:119: Searching for input: add_8:0
[05/27/2021-04:47:17] [V] [TRT] ModelImporter.cpp:119: Searching for input: f3/kernel/read/_20__cf__20:0
[05/27/2021-04:47:17] [V] [TRT] ModelImporter.cpp:125: f3/MatMul [MatMul] inputs: [add_8:0 -> (-1, 80)], [f3/kernel/read/_20__cf__20:0 -> (80, 2)],
[05/27/2021-0

[2021-05-27 19:57] CarlPoirier opened #690 "Converting from ONNX results in Assertion failed: axis >= 0 && axis < nbDims"
## Description

Hi,

I'm trying to create a TRT engine from my ONNX file which you can find [here](https://drive.google.com/file/d/1NQpubIhdoRVZqaoXJTTm8ofHRgyiP7JX/view?usp=sharing). It's been trained using the torchvision.models.detection.fasterrcnn_resnet50_fpn and then I folded the constants with polygraphy with this command:
`polygraphy surgeon sanitize raccoon_resnet50.onnx --fold-constants

[2021-05-31 07:50] xdtzzz commented on #544
hi, i have meet this question, too.  and my header exists/usr/local/cuda/include/crt/host_config.h, too. But i still meet this question, can you help me?
thank you in advance!!!

[2021-06-01 07:35] muyoucun commented on #618
sorry but do you know how to solve this now?

[2021-06-01 14:14] CarlPoirier commented on #690
I as able to go over this assert by exporting the model with different parameters for the batch size and it makes more sense now. I updated the linked file. Now I get a different error which is a throw of std::out_of_range in nvonnxparser. I have updated the original post.

[2021-06-01 15:14] CarlPoirier commented on #690
Actually, this is an issue when using opset 13 only. If I export using opset 11, then I don't get the std::out_of_range.

[2021-06-02 03:06] htran170642 opened #692 "Onnx2trt to int8"
I am using the latest onnx-tensorrt repo. How can I convert my yolov5 model to int8 using onnx2trt? Thanks

[2021-06-02 03:11] scuizhibin opened #693 "Gather error"
The error is :   ../rtExt/cuda/cudaGatherRunner.cpp (111) - Cuda Error in execute: 9 (invalid configuration argument)

[2021-06-02 10:27] trathpai opened #694 "Which set of upsample modes are supported?"
## Description

I didn't find a clear documentation of upsample modes supported in Tensorrt 7.1.3.0 . Is bilinear, bicubic upsampling supported ? Onnx 1.6.0 seems to support both.

[2021-06-07 10:41] kochsebastian commented on #645
@jackwish
I have a similar problem with this simple model:
[code]

[test_conv_derivative.zip](https://github.com/onnx/onnx-tensorrt/files/6608135/test_conv_derivative.zip)
Neither onnx-optimizer nor onnx-simplifier worked for me

[2021-06-07 18:25] kevinch-nv commented on #689
What is your build environment?

[2021-06-07 18:28] kevinch-nv commented on #693
What version of TRT is this? Do you have reproduction steps available?

[2021-06-07 18:30] kevinch-nv commented on #692
`onnx2trt` will soon be deprecated. Please see [here](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt) for updated binaries you can use to convert ONNX models to TRT.

[2021-06-07 18:30] #692 closed

[2021-06-07 18:38] kevinch-nv commented on #694
I assume you mean the `resize` operator, since upsample has been deprecated in ONNX since opset 10. You can see the notes about op support [here](https://github.com/onnx/onnx-tensorrt/blob/master/docs/operators.md) - we do support bilinear resizes but not bicubic.

[2021-06-07 18:38] #694 closed

[2021-06-07 18:42] kevinch-nv commented on #679
I'm not too familiar with Yocto, maybe a set up issue somewhere?

[2021-06-07 18:43] kevinch-nv commented on #690
Thanks for narrowing it down to a opset 13 issue. I'll take a look to see what's going on.

[2021-06-07 23:53] francisvac opened #695 "Onnx tensorrt parser"
## Description
On loading a model using the onnx model parser. the following runtime exception is received in C++
[code]
## Environment

TensorRT Version: 7.1.3-1
NVIDIA GPU: GeForce GTX 1050
NVIDIA Driver Version: 460.73.01
CUDA Version: 10.2
CUDNN Version:
Operating System: ubuntu 20.04
Python Version (if applicable): 3
Tensorflow Version (if applicable):
PyTorch Version (if applicable):
Baremet

[2021-06-08 08:46] #416 closed

[2021-06-09 03:58] francisvac commented on #695
version mismatch

[2021-06-09 03:58] #695 closed

[2021-06-10 09:53] duohaoxue commented on #639
I made the same mistake with TensorRT7.2.3.4

[TensorRT] VERBOSE: ModelImporter.cpp:103: Parsing node:  [InstanceNormalization]
[TensorRT] VERBOSE: ModelImporter.cpp:119: Searching for input: 512
[TensorRT] VERBOSE: ModelImporter.cpp:119: Searching for input: 513
[TensorRT] VERBOSE: ModelImporter.cpp:119: Searching for input: 514
[TensorRT] VERBOSE: ModelImporter.cpp:125:  [InstanceNormalization]

[2021-06-10 14:10] CarlPoirier commented on #401
Hi @kevinch-nv,

I need this operator as well, but since TensorRT needs fixed-size ops, how will you do it?
![image](https://user-images.githubusercontent.com/5577772/121539937-10f9fb00-c9d4-11eb-85b0-e1355a3e9ab7.png)

[2021-06-11 01:07] li-hong-yang opened #697 "undefined reference to `onnx2trt_onnx::optimization::GetAvailablePasses"
main.cpp:(.text.startup+0x5cc): undefined reference to `onnx2trt_onnx::optimization::GetAvailablePasses[abi:cxx11]()'
main.cpp:(.text.startup+0xb7d): undefined reference to `onnx2trt_onnx::optimization::OptimizeFixed(onnx2trt_onnx::ModelProto const&, std::vector<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, std::allocator<std::__cxx11::basic_string<char, std::cha

[2021-06-14 10:09] CptK1ng opened #698 "Speedup model loading"
Hey,
thanks for your great work.

I am using onnx-tensorrt to run inference on a jetson nano. A fresh start of my application took more than 2 minutes because model preparation is really slow.

[code]

The result of `time.time()-t1` is about 120 seconds for a resnet101. Similiar timings for smaller architectures like resnet50.
Because the network does not change between runs, is there a way to cac

[2021-06-14 22:25] kevinch-nv commented on #698
`onnx.load` is a ONNX API, so it's most likely CPU / memory bound, which is an issue on a small embedded board like the nano.

For your application, you can load the ONNX model and build an TensorRT engine once offline, and then just load your engine for subsequent calls to your app.

[2021-06-14 22:29] kevinch-nv commented on #697
This is a known issue with ONNX 1.9.0.  Can you try using a lower ONNX version or build with the flag `-DBUILD_LIBRARY_ONLY=1`?

[2021-06-15 07:34] CptK1ng commented on #698
Thanks for the help. I will try this.

[2021-06-15 07:34] #698 closed

[2021-06-16 07:33] tft-robert commented on #552
@kevinch-nv Any updates on this issue?

[2021-06-16 09:53] gjm441 commented on #670
I tried opset with 11，occurs error： [Recurrence]'s output can not be used as shape tensor

&&&& RUNNING TensorRT.trtexec # trtexec --onnx=onnx/dien_op11.onnx --minShapes=Inputs/uid_batch_ph:0:1,Inputs/mid_batch_ph:0:1,Inputs/cat_batch_ph:0:1,Inputs/mid_his_batch_ph:0:19,Inputs/cat_his_batch_ph:0:19,Inputs/mask:0:19,Inputs/seq_len_ph:0:1 --optShapes=Inputs/uid_batch_ph:0:1,Inputs/mid_batch_ph:0:1,I

[2021-06-17 06:29] fujingling commented on #355
I resoled this problem by remove this line

find_library(TENSORRT_LIBRARY_MYELIN myelin
            HINTS  ${TENSORRT_ROOT} ${TENSORRT_BUILD} ${CUDA_TOOLKIT_ROOT_DIR}
            PATH_SUFFIXES lib lib64 lib/x64)

[2021-06-21 09:58] drewm1980 commented on #400
+1 for natively supporting UINT8. It's really bizarre that the format used in almost all image source data is not supported.

[2021-06-23 13:40] menkeyi opened #699 "onnx2trt: error while loading shared libraries"
onnx-tensorrt 7.0

The deployment mode of tenssrrt is docker
docker build -f docker/ubuntu.Dockerfile --build-arg UBUNTU_VERSION=18.04 --build-arg CUDA_VERSION=10.2 --tag=tensorrt-ubuntu .

docker run -v $TRT_RELEASE:/tensorrt -v $TRT_SOURCE:/workspace/TensorRT -it tensorrt-ubuntu:latest

trtuser@3d9b00ed8b21:/workspace$ onnx2trt -V
Parser built against:
  ONNX IR version:  0.0.6
  TensorRT versio

[2021-06-23 14:37] menkeyi commented on #699
No sudo

trtuser@3d9b00ed8b21:/workspace$ onnx2trt last.onnx -t my_model.onnx.txt
----------------------------------------------------------------
Input filename:   last.onnx
ONNX IR version:  0.0.6
Opset version:    12
Producer name:    pytorch
Producer version: 1.9
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
Writing ONNX model (without

[2021-06-24 15:55] simunovic-antonio commented on #400
Regarding the UINT8 support: consider the performance aspect of casting the input from UIN8 to FLOAT32 on host before transferring to device. It will increase the transferred volume by 4 times.

Many models will convert the UIN8 to FLOAT32 for data normalization and it is more efficient to do it on device.

[2021-06-24 18:27] Fschoeller opened #700 "onnx2trt: No speed difference between models of different sizes."
I have two yolov5 models of different sizes. One has 35.9m parameters, the other 12.7m.
When I convert the models to TensorRT with `trtexec --onnx=model.onnx --batch=5 --fp16` the resulting models have roughly the same inference speed (21 fps) even though the speed should be vastly different.
What am I doing wrong?

[2021-06-25 06:38] DanilKonon commented on #649
Hi, were you able to solve this problem? I have the same one :(

[2021-06-25 08:11] thenewera-ru commented on #649
I faced the same issue, is there anyone who can help with that?

[2021-06-25 08:44] Wink-Xu opened #701 "FAILED_ALLOCATION: basic_string::_S_construct null not valid"
I want to transfer my model，but face this problem

----------------------------------------------------------------
Input filename:  test.onnx
ONNX IR version:  0.0.6
Opset version:    9
Producer name:    pytorch
Producer version: 1.6
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
Parsing model
[2021-06-23 10:06:52 WARNING]/onnx-tensorrt-7.

[2021-06-28 13:24] Echambouleyron commented on #552
Any updates?

[2021-06-28 18:57] kevinch-nv commented on #699
Which branch did you pull the docker container from?

[2021-06-28 18:58] kevinch-nv commented on #700
What TRT version are you using? Are you able to provide the models you are benchmarking?

[2021-06-28 19:03] kevinch-nv commented on #656
TRT requires the weights for the conv to be initializers, unless it is being overwritten by an INT8 -> Float dequantize layer in QDQ networks. General support of tensor conv weights are unsupported at the moment.

[2021-06-28 19:05] Fschoeller commented on #700
I'm using TensorRT 7.1.3 on the Jetson Xavier AGX.
Would you like the models as ONNX files?

[2021-06-30 03:30] ttanzhiqiang commented on #328
https://github.com/ttanzhiqiang/onnx_tensorrt_project

[2021-06-30 03:31] ttanzhiqiang commented on #35
https://github.com/ttanzhiqiang/onnx_tensorrt_project

[2021-06-30 03:32] ttanzhiqiang commented on #566
https://github.com/ttanzhiqiang/onnx_tensorrt_project

[2021-07-01 05:47] tink2123 opened #702 "Dynamic input cannot be continuously predicted"
## Description

Dynamic input cannot be continuously predicted.

I have installed onnx-tensorrt,  found that when I need to predict dynamic input continuously, multiple inputs named [profile k] are created. When I only create the trt engine once, there will be a problem of shape mismatch.

[code]

## Environment

**TensorRT Version**:  7.2.
**ONNX-TensorRT Version / Branch**:  7.2.1
**GPU Type**:

[2021-07-02 09:12] a2824256 opened #703 "Does it support win10 os？"
When I compile it, I am prompted with the following error
1. can’t find unistd.h
2. onnx/optimizer/optimize.h
3. can't find the function open()

It doesn't seem to support win10.

[2021-07-05 09:16] tft-robert commented on #552
@Niloofar-bgh @Echambouleyron  Seems that TensorRT 8.0.1 will have support for NonMaxSuppresion: https://github.com/NVIDIA/TensorRT/blob/master/CHANGELOG.md

`Added EfficientNMS_TRT, EfficientNMS_ONNX_TRT plugins and experimental support for ONNX NonMaxSuppression operator.`

[2021-07-05 19:14] Echambouleyron commented on #552
@tft-robert thanks a lot. I´ll try that

[2021-07-06 12:09] ghylander opened #708 "Assertion failed: scales_input.is_weights()"
## Description

The full error meesage is the following:

ERROR: builtin_op_importers.cpp:3460 In function importUpsample:
[8] Assertion failed: scales_input.is_weights()

the error comes out after a few layers have been translated

this fails with a model with the following (deviation from working exports):
- Input shape is (None, None, 3)
- there is a tf.keras.layers.experimental.preprocessing.R

[2021-07-06 12:14] ghylander commented on #708
forgot to mention:
yes, i tried folding the onnx model
the folding operation itself was succesful, but when running exporting to trt it gives the same error

[2021-07-08 05:24] TUT-jiayou opened #709 "Can provide a bazel build file?"
## Description

Hi,all

I want to build the onnx-tensorrt with bazel. Has anyone done any related work？

## Environment

**TensorRT Version**:  7.1.3
**ONNX-TensorRT Version / Branch**: 7.1.3

[2021-07-08 07:28] kevinch-nv commented on #702
You can build the optimization profiles with a range of dimensions using the min/max/opt profiles. You can see [this link](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#opt_profiles) for more info.

[2021-07-08 07:34] kevinch-nv commented on #703
Can you try the build instructions found in the main [TensorRT repo?](https://github.com/nvidia/tensorRT/)

[2021-07-08 07:35] kevinch-nv commented on #708
Can you attach the ONNX model?

[2021-07-08 10:57] tink2123 commented on #702
Thx for your reply.
I have build the optimization profiles. In my understanding, the prediction engine only needs to be created once, and real pictures of dynamic shapes can be input when running, but this error will be encountered in practice, how can I solve it?

[code]

build_engine:

[code]

run:
[code]

[2021-07-08 16:34] kevinch-nv commented on #358
Closing due to inactivity. If the problem sill persists on the latest commit on master, then please reopen this issue.

[2021-07-08 16:34] #358 closed

[2021-07-08 16:35] kevinch-nv commented on #361
Closing due to inactivity - if issues still persist with opset 11 w/ the latest version of TensorRT please feel free to open a new issue.

[2021-07-08 16:35] #361 closed

[2021-07-08 16:36] kevinch-nv commented on #376
Thanks for providing the correct build command @casperbh96. Closing this issue.

[2021-07-08 16:36] #376 closed

[2021-07-08 16:39] kevinch-nv commented on #406
Unfortunately, we currently do not support `int8->float32` casting outside of quantization. You will have to use full floating point precision to provide the data to TensorRT.

[2021-07-08 16:40] kevinch-nv commented on #422
Closing due to inactivity. If you are still having issues with the latest version of TensorRT please open a new issue.

[2021-07-08 16:40] #422 closed

[2021-07-09 06:06] #703 closed

[2021-07-09 14:42] tensorflowt opened #710 "How to compile OnNX-TensorRT on Jetson AGX Xavier platform ？"
hello，I encountered the following problem when compiling onnx-tensorRT on the Jetson AGX Xavier platform：

![image](https://user-images.githubusercontent.com/37217594/125095273-99b8a380-e106-11eb-9658-ed1c1a41bf6f.png)

My hardware environment is as follows：
Device name：Jetson AGX Xavier
TensorRT Version: 7.1.3.0
cuda Version:10.2
protobuf Version:3.9.0 https://github.com/protocolbuffers/protobuf/

[2021-07-12 09:39] zhaoyiluo opened #711 "[BUG] Protobuf version incompatible issue in release/7.2.1"
## Description

In TensorRT 7.2.1 open-source release eb559b6cdd1ec2169d64c0112fab9b564d8d503b, the Protobuf requirement was changed from `>= 3.8.x` to `Protobuf >= 3.0.x`. I didn't know why the maintainers did this change, but it definitely let me in an unpleasant mood today. I remembered there was saying that it was a "typo" so you made this change but I was so sorry I could not find the place.

[2021-07-13 00:48] kevinch-nv commented on #709
No plans to include a bazel build file in the near future.

[2021-07-13 00:55] kevinch-nv commented on #710
You may have to build protobuf from source as the prebuilt binaries may be for x86.

Alternatively you can cross compile for Jetson following the instructions [here](https://github.com/nvidia/tensorRT/#setting-up-the-build-environment) on the main TensorRT open source page.

[2021-07-13 01:13] kevinch-nv commented on #711
How are you building the library? I've just tested the 7.2.1 branch with protobuf 3.6.1 and it compiled fine for me.

[code]

[2021-07-13 05:13] zhaoyiluo commented on #711
Hi @kevinch-nv ,

Here is my workflow for building onnx-tensorrt,

[code]

[code]

BTW, I'm also wondering why the maintainers removed the deprecated `setup.py` as it was used to create the module imported by other python files?

Please let me know if more information is needed.

Thanks.

[2021-07-13 17:50] kevinch-nv commented on #430
Closing due to inactivity. If you are still encountering problems feel free to open a new issue.

[2021-07-13 17:50] #430 closed

[2021-07-13 17:50] kevinch-nv commented on #436
Closing due to inactivity. If you are still encountering problems feel free to open a new issue.

[2021-07-13 17:50] #436 closed

[2021-07-13 17:57] kevinch-nv commented on #643
What version of ONNX-TRT are you using? Is this reproducible on master?

[2021-07-13 17:58] kevinch-nv commented on #650
Can you provide a model that you have converted?

[2021-07-14 08:07] DenisKuplyakov commented on #643
I were using 21.02 tag when created the issue.

I haven't tried, but I'm sure it is still reproducible on master, as I see that the issue persists in code.

Let me describe step-by-step what happens for more clarity:
1. You invoke `python3 setup.py install` to setup package. Moreover here you can invoke any setup.py command (get version, dependencies list, etc.)
2. python evaluates `setup.py` scri

[2021-07-14 10:04] 004307ec commented on #668
If the original ONNX model can run normally in OnnxRuntime, then it can be the result of a failed shape inference.
You can check the Reshape Op in your ONNX graph.  If the second argument of a Reshape Op is not from a single constant value tensor, but from other Op (like Concat), the inferred shape of the output of the Reshape Op can be all -1.

[2021-07-14 10:08] 004307ec commented on #451
It might be a failed shape inference for intermediate tensors.  Inserting Reshape node with constant valued tensor as shape before the Conv node might help.  You can use python onnx package to edit your onnx file.

[2021-07-15 01:56] chenlu001 commented on #406
Seems like a long time issue that hasn't been resolved yet. I actually found a workaround last year and hope it helps.

I wrote a cuda kernal which accepts int8 from CPU and cast to float on GPU, then go ahead with tensorrt as normal process.

[2021-07-15 02:31] chenlu001 commented on #406
Anyway I think it should be a useful enhancement for some cases when copying latency is really a concern. Tensorrt is a powerful tool, but thinking about how frustrated when tensorrt inference time takes just around 10ms while memory copy takes another 10ms. Using int8 as input without full quantization can be acceptable a trade off.

[2021-07-15 02:32] chenlu001 commented on #406
Anyway I think it should be a useful enhancement for some cases when copying latency is really a concern. Tensorrt is a powerful tool, but thinking about how frustrated when tensorrt inference time takes just around 10ms while memory copy takes another 10ms. Using int8 as input without full quantization can be acceptable a trade off.

[2021-07-16 01:44] JunHyunjae opened #713 "EfficientDet ->TRT Convert Error"
## Description

I tried to convert in two ways and the following error occurred during the conversion.

[1] $  **onnx2trt efficientdet-d0_512.onnx -o efficientdet-d0_512.trt**

Input filename:   efficientdet-d0_512.onnx
ONNX IR version:  0.0.7
Opset version:    11
Producer name:
Producer version:
Domain:
Model version:    0
Doc string:

WARNING: ONNX model has a newer ir_version (0.0.7) than this

[2021-07-16 15:14] Manu936 opened #714 "SSDLite-MobNetV2: Assertion failed: (axis >= 0 && axis < nbDims) && "Axis must be in the range [0, nbDims).""
I was trying to convert an ONNX model I have to tensortRT.

Initially the TensorFlow saved_model.pb I have which is a ssdlite-mobilenet-v2 has been converted to ONNX using tf2onnx and set NCHW in the convertor argument.

The above converted ONNX had dynamic shapes and the input dtype was UINT8 so had used onnx-graphsurgeon to set my input size to [1,3,300,300] and set the dtype to INT32.

Now when

[2021-07-18 06:08] rahulhari1699 commented on #698
@CptK1ng  Hi, did u try it out? if yes, please let me know the solution, i am also facing same issue.

[2021-07-18 06:12] Yadav03 commented on #698
@CptK1ng  Hi, did u try it out? if yes, please let me know the solution, i am also facing same issue.

[2021-07-18 09:13] EatonL opened #716 "Makefile:155: recipe for target 'all' failed"
when i "make -j" ,An error occurred

“Makefile:155: recipe for target 'all' failed
make: *** [all] Error 2”

what should i do for it?

[2021-07-18 09:51] Yadav03 opened #717 "How to load tensorrt engine directly with building on runtime"
Hi,

I am using the onnx_tensorrt library to convert onnx model to tensorrt model on runtime. But since it is building the tensorrt engine on runtime it takes more than 4minutes to complete. So i want to use direct tensorrt engine file directly without building on runtime. For this, i have converted onnx model to tensorrt engine .plan file offline. but i dont know how to use it directly in my code

[2021-07-18 11:28] mibrahimy commented on #649
This issue is faced when you don't provide input shapes while creating onnx model. Regenerate the onnx and provide the input shapes to the `tf2onnx`.

[2021-07-19 19:34] varunvelpula opened #718 "Status of onnx-tensorrt in the future"
I read multiple comments by the contributors that trtexec which comes with the TensorRT library would succeed onnx-tensorrt, thus making onnx-tensorrt deprecated. Is this true?

I am currently confused on which one to continue using for my project

[2021-07-20 08:56] yutkin commented on #401
@kevinch-nv Is there update with this?

[2021-07-20 09:06] Oktai15 commented on #401
What about x > 0 or x < 0?

[2021-07-22 01:53] JunHyunjae opened #719 "onnx2trt build error"
## Description

I an using a nvidia-nano and the error as below has occurred.

/home/workspace/onnx-tensorrt/ImporterContext.hpp:26:44: error: ‘class nvinfer1::INetworkDefinition’ has no member named ‘getErrorRecorder’
             mUserErrorRecorder = mNetwork->getErrorRecorder();
                                            ^~~~~~~~~~~~~~~~
In file included from /home/workspace/onnx-tensorrt/Mode

[2021-07-22 17:38] Source82 commented on #552
Hi did it work for you? any updates

[2021-07-22 17:39] Source82 commented on #552
@Echambouleyron any update? did it work after installing tensorrt v8

[2021-07-22 17:48] rajeevsrao opened #720 "Please verify ONNX v1.10.0 Release Candidate"
Hello ONNX partner,
We have published (to TestPyPI) a Release Candidate package for the upcoming ONNX v1.10.0 release. Please help validate it and let us know if you encounter any issues. Note that the tentative release date for ONNX v1.10.0 is July 31, 2021. Thank you for your assistance!

[code]

* 07/21/2021: RC1 to use for validation - [onnx 1.9.100](https://test.pypi.org/project/onnx/1.9.100/

[2021-07-23 15:26] Echambouleyron commented on #552
Hello! I have not tried yet because the purpose for converting the model was to deploy it in a Jetson Nano which, I recently realized supports up to version 7.1.3 of Tensor RT. Even though I manage to successfully convert the model, it won´t work in the jetson, right?

[2021-07-25 07:54] tft-robert commented on #552
@Echambouleyron @Source82 For me it worked perfectly. Managed to convert a tensorflow model from .pb to .onnx, then just copied the onnx model over to the Jetson device. Then I converted it to .trt.

[2021-07-25 08:26] jiapei100 commented on #720
Bugs:

[code]

It looks **onnx-tensorrt** is still based on **onnx** of 2 years ago ?

[2021-07-26 16:48] kevinch-nv commented on #713
I would recommend using [trtexec](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec) over `onnx2trt` to generate and save the engine.

Can you try running `trtexec --onnx=efficientdet-d0_512.onnx --saveEngine=efficientdet-d0_512.trt`

[2021-07-26 16:49] kevinch-nv commented on #714
Can you attach the ONNX network that you're working with?

[2021-07-26 16:49] kevinch-nv commented on #716
Can you post the full log?

[2021-07-26 16:56] kevinch-nv commented on #717
TensorRT's Runtime class has the ability to deserialize pre-built engines from disk.

See the following code snippet (taken from [here](https://github.com/NVIDIA/TensorRT/blob/master/samples/python/yolov3_onnx/onnx_to_tensorrt.py#L92-L98):

[code]

[2021-07-26 16:56] #717 closed

[2021-07-26 17:03] kevinch-nv commented on #718
When you say `onnx-tensorrt`, there are two potential meanings:

1. The `onnx2trt` binary - you are correct that this will eventually be succeeded by `trtexec` since `trtexec` is more up to date.
2. The parser library itself `libnvonnxparser.so`. Both `onnx2trt` and `trtexec` link against this library, so the core code and thus this repository will still be relevant. The recommend workflow is to b

[2021-07-26 17:03] #718 closed

[2021-07-26 17:06] kevinch-nv commented on #719
It looks like you are incorrectly building against the master branch. 7.1 should not have the `ErrorRecorder` class.

[2021-07-26 17:08] kevinch-nv commented on #720
Yes, there are some current incompatibilities with the new ONNX versions in the `onnx2trt` binary we have in this repo. We are working on deprecating it, then we can move to a later ONNX version.

[2021-07-27 19:30] Source82 commented on #552
Thanks

[2021-07-27 21:59] rajeevsrao commented on #720
@jiapei100 in the meantime you can build and use onnx-tensorrt parser (library only, not the onnx2trt executable) for ONNX rel-1.10.0 by specifying `-DBUILD_LIBRARY_ONLY=1` during CMake.

[2021-07-28 15:47] theRandString opened #722 "Error while converting .onnx to .trt model"
## Description

First i converted my Yolov5 PyTorch model to .onnx model with help of https://github.com/ultralytics/yolov5 this repo.
Then i used https://github.com/linghu8812/tensorrt_inference this repo to convert my .onnx model to TensorRT model. When compiling the project i get following error/s

## Environment

**TensorRT Version**: 7.0.0.11
**ONNX version**: 1.6.0
**ONNX-simplifier**: 0.3.6

[2021-07-28 15:50] theRandString commented on #722
Sorry my description somehow dissapeared. So first i converted my Yolov5 PyTorch model to .onnx model with help of https://github.com/ultralytics/yolov5 this repo. After that i downloaded the following repo: https://github.com/linghu8812/tensorrt_inference/tree/master/yolov5 I set the project up and tried to compile but i got the error above.

[2021-07-30 01:25] uRENu opened #723 "WARNING: ONNX model has a newer ir_version (0.0.5) than this parser was built against (0.0.3)."
## Description

## Environment

**TensorRT Version**:
**ONNX-TensorRT Version / Branch**:
**GPU Type**:
**Nvidia Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System + Version**:
**Python Version (if applicable)**:
**TensorFlow + TF2ONNX Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if container which image + tag)**:

## Relevant Fil

[2021-07-30 07:28] TUT-jiayou commented on #400
HI ,all

Any update ?

[2021-07-31 08:13] jiapei100 commented on #720
It looks like an issue from [https://github.com/onnx/optimizer](https://github.com/onnx/optimizer). I should have installed both **onnx**, as well as **onnx_optimizer**.

[2021-07-31 08:38] jiapei100 opened #724 "Failed to build **onnx2trt** from source"
## Description

Failed to build **onnx2trt** with the following **ERROR** messages:

[code]

## Environment

**TensorRT Version**: 9.0.1
**ONNX-TensorRT Version / Branch**:
**GPU Type**: Geforce RTX 2080 Ti
**Nvidia Driver Version**: NVIDIA-SMI 460.84
**CUDA Version**: 11.3
**CUDNN Version**: 8.2.1
**Operating System + Version**: Ubuntu 20.04
**Python Version (if applicable)**: 3.8.10
**TensorFlow

[2021-07-31 17:33] umairjavaid opened #725 "[network.cpp::validate::2684]Error Code 4: Internal Error (Network has dynamic or shape inputs, but no optimization profile has been defined.)"
## Description
I am trying to convert a pythorch yolov5 model with custom weights to tensorrt. I first convert it to ONNX I have run the TensorRT docker image. In in, I have cloned this repo and followed all the  build steps.
I am using `./onnx2trt /workspace/onnxmodels/ball_player_best.onnx -o /workspace/onnxmodels/ball_player_best.trt` to convert my ONNX model but I am getting the following erro

[2021-07-31 17:53] umairjavaid commented on #725
If I have to edit any code that just defeats the purpose of having a single line command to convert onnx model to tensorrt

[2021-07-31 18:01] umairjavaid commented on #725
Kindly, let me know which lines do I have to edit or add in which file to get it working?

[2021-07-31 18:18] umairjavaid commented on #518
@sonctmirasoft what's the name of the file in which u put this code?

[2021-08-02 04:27] SpongeBab commented on #199
[code]

same error.
**I think this is because pytorch version is too new.Or any producer you used is higher than tensorrt supported.**
May can try use the producer lower version.

[2021-08-02 17:51] kevinch-nv commented on #199
This is a known issue with earlier TensorRT versions (I believe it affects up to TRT 6). Can you upgrade your TRT verison?

[2021-08-02 18:26] kevinch-nv commented on #723
Can you try using a later TensorRT version? TRT 5.1 is not being actively supported anymore.

[2021-08-02 18:30] kevinch-nv commented on #724
onnx2trt is marked to be deprecated soon, as it lacks a lot of features (such as dynamic shapes).

You can use `trtexec` (see instructions [here](https://github.com/onnx/onnx-tensorrt/blob/master/docs/faq.md#how-do-i-import-and-run-an-onnx-model-through-tensorrt)) to do the onnx to TensorRT conversion.

[2021-08-02 18:31] kevinch-nv commented on #682
Closing due to inactivity - if you are still having issues fell free to re-open.

[2021-08-02 18:31] #682 closed

[2021-08-02 18:34] kevinch-nv commented on #722
I think this is a known issue with the base TRT7 build. Since it looks like you are using Windows - can you try upgrading to TRT 7.2 or TRT8?

[2021-08-02 19:07] theRandString commented on #722
Not yet because i have a gtx 1060 and its not supported for that card. But i ordered a new Gpu rtx 3070ti then i will try it again with the newest edition of tensorRT. Thanks for the answer! :)

[2021-08-03 08:10] ef-ever commented on #401
Is there an alternative way to achieve the same result as this op?

[2021-08-03 08:18] alextheloafer commented on #401
Stuck with the same problem...

[2021-08-04 09:13] DC-Lin opened #727 "[8] No importer registered for op: OneHot"
## Description

## Environment

**TensorRT Version**: 7.0.0.11
**ONNX-TensorRT Version / Branch**:7.0
**GPU Type**: 1080ti
**Nvidia Driver Version**: 460.84
**CUDA Version**: 10.0
**CUDNN Version**: ignore
**Operating System + Version**: ubuntu 18.04
**Python Version (if applicable)**: ptyhon3.6
**TensorFlow + TF2ONNX Version (if applicable)**: tensorflow-gpu-1.14 + ?
**PyTorch Version (if applica

[2021-08-04 09:50] DC-Lin commented on #727
@tdp2110 @shinh @lutzroeder @Yangqing

[2021-08-06 13:10] DenisKuplyakov opened #728 "CUDA errors are not handled properly: conversion from bytes to str required"
## Description

It looks like that error strings from cuda functions should be converted from bytes to str before using them.

[code]

Now the problem masks real error messages.

## Environment

**TensorRT Version**:
**ONNX-TensorRT Version / Branch**: 21.05
**GPU Type**: 1080 TI
**Nvidia Driver Version**: 465.19.01
**CUDA Version**:  11.3.0
**CUDNN Version**: 8.2.0.51
**Operating System + Version

[2021-08-07 09:02] serser commented on #328
I am using onnx2trt command to do the conversion of a dynamic input model onnx. What arguments should I pass?

[code]

[2021-08-09 10:48] uRENu commented on #723
I have upgraded TensorRT to 7.0.0.
now the following error occurs in step 2:

----------------------------------------------------------------
Input filename:   /root/WRZ_test/NER/check2PB/uff/model.onnx
ONNX IR version:  0.0.6
Opset version:    11
Producer name:    tf2onnx
Producer version: 1.9.1
Domain:
Model version:    0
Doc string:
-------------------------------------------------------------

[2021-08-10 05:32] kevinch-nv commented on #697
Closing due to inactivity.

[2021-08-10 05:32] #697 closed

[2021-08-10 05:33] kevinch-nv commented on #664
This should be fixed with https://github.com/onnx/onnx-tensorrt/pull/721 - closing.

[2021-08-10 05:33] #664 closed

[2021-08-10 07:20] audreyzj commented on #414
got the same issue for pytorch1.4, onnx1.9, tensorrt7.0, cuda10.2
tested that issue resolved for pytorch1.4, onnx1.9, tensorrt7.2.2, cuda11.1

[2021-08-11 12:50] LackesLab commented on #698
@rahulhari1699 @Yadav03 I speed up model loading by exporting the onnx model as trt engine using onnx-tensorrt.

1. `onnx2trt data/weights/model.onnx -b 8 -o trt_engine.trt`
2.  You can use the following snippet from [here](https://stackoverflow.com/a/67492525)

[code]

[2021-08-14 08:50] hao1305430263 commented on #716
`
[  1%] Running gen_proto.py on onnx/onnx.in.proto
Processing /home/haouanbo/jixie/onnx-tensorrt/third_party/onnx/onnx/onnx.in.proto
Writing /home/haouanbo/jixie/onnx-tensorrt/build/third_party/onnx/onnx/onnx_onnx2trt_onnx-ml.proto
Writing /home/haouanbo/jixie/onnx-tensorrt/build/third_party/onnx/onnx/onnx_onnx2trt_onnx-ml.proto3
Writing /home/haouanbo/jixie/onnx-tensorrt/build/third_party/onnx/o

[2021-08-16 05:02] vtn98 commented on #719
how to fix it?

[2021-08-16 08:34] 1129267324 commented on #97
你好，我也遇到了同样问题，请问错误解决了吗？

[2021-08-16 14:22] owoshch commented on #636
Hi @nikhil-salodkar! Can you please share the final command that helped you to fix the issue?
I'm trying to install onnx-tensorrt library from the official tensorrt docker container and I'm facing the same issue with ERRORCannot find TensorRT library.

[2021-08-16 19:02] kevinch-nv commented on #542
Closing this issue.

[2021-08-16 19:02] #542 closed

[2021-08-16 19:03] kevinch-nv commented on #543
Closing this issue.

[2021-08-16 19:03] #543 closed

[2021-08-18 09:09] ValentinBousquie commented on #401
Hi everyone, I am facing the same problem with my model. I am in the situation described by @gabrielibagon, the tf.where operators are converted to NonZero operators by ONNX. Have you find some ideas to work around the issue ?

On my side, i have tried something with the ONNX API in my python code. I iterate over the nodes of the graph and if the node belong to the NonZero type i put it back to Wh

[2021-08-18 22:58] AdamMiltonBarker opened #729 "AttributeError: module 'onnx_tensorrt' has no attribute 'backend'"
## Description

I am aware this has been raised before however I have read and tried every solution in the issues and have been hitting a brick wall for around 5 hours.

I am using NVIDIA Jetson Nano, jetpack 4.5.1-b17, inside the l4t Tensorflow docker container, I have successfully installed onnx-tensorrt, path has been set in the build dir after installation, but I am unable to get backend worki

[2021-08-19 00:40] AdamMiltonBarker commented on #729
I started in a new docker container, not sure what it was as did the same in each installation but it appears to be working now.

[2021-08-19 00:42] AdamMiltonBarker commented on #729
I spoke too soon, so using python3 command I can import onnx_tensorrt.backend as trt and it is fine, in the same directory if I run it in a file I get AttributeError: module 'onnx_tensorrt' has no attribute 'backend'. I will change the title of this issue.

[2021-08-19 01:36] AdamMiltonBarker commented on #729
I have given up with this library will create an engine.

[2021-08-19 01:36] #729 closed

[2021-08-19 19:43] mlizhardy commented on #153
had the same issue:

`find /lib -name "*pthread*"` displays:

[code]

[2021-08-20 17:13] bangoga opened #730 "Make -j Error - nvonnxparser_static.dir/ModelImporter.cpp.o"
## Description

## Environment

**TensorRT Version**:  1.8.1+cu111
**ONNX-TensorRT Version / Branch**: ONNX-TensorRT 8.0 Release/ Master Branch
**GPU Type**:  Unkown
**Nvidia Driver Version**: 11.0
**CUDA Version**: 11.0
**CUDNN Version**: 8.1
**Operating System + Version**:   Aws deep learning. ubuntu
**Python Version (if applicable)**:  3.8
**Baremetal or Container (if container which image + ta

[2021-08-21 10:16] primer-bi commented on #673
My tensorrt version is also 7.2.2.3, the latest master branch supports it? If not, I am wondering which branch should I clone.

[2021-08-23 08:01] willHuang2016 opened #732 "onnx layer resize error by align_corners in TRT 7.2.1"
## Description

## Environment

**TensorRT Version**:  7.2.1
**ONNX-TensorRT Version / Branch**: libnvonnxparser.so.7.2.1
**GPU Type**:  RTX 2080S
**Nvidia Driver Version**:  460.32.03
**CUDA Version**: 11.1
**CUDNN Version**:  8.0.5
**Operating System + Version**: ubuntu 20.04
**Python Version (if applicable)**:  python 3.7
**TensorFlow + TF2ONNX Version (if applicable)**:
**PyTorch Version (if a

[2021-08-23 19:34] kevinch-nv commented on #730
The 21.05 container has an older version of TensorRT (7.2) that's not compatible with the code on the master branch (that's meant for TRT 8.0). You can use a later container image or checkout the 7.2.1 branch and build.

[2021-08-23 19:35] kevinch-nv commented on #732
Can you try TRT8.0? We have fixed a lot of resize issues in the latest release.

[2021-08-24 07:37] furkancoskun commented on #655
@whcjb Is there any update on this problem?

[2021-08-24 07:40] furkancoskun commented on #609
@weizhiyi777 @jinfagang @Xiaoyw1998 Have you solved the problem with Multi Input Convolution?

[2021-08-24 07:51] Xiaoyw1998 commented on #609
No

[2021-08-28 07:28] danishansari opened #735 "Getting error in make"
In file included from /home/danish/Downloads/danish/code/TF2/ModelConversion/onnx-tensorrt/ModelImporter.cpp:8:0:
/home/danish/Downloads/danish/code/TF2/ModelConversion/onnx-tensorrt/onnx_utils.hpp: In function ‘bool ParseFromFile_WAR(google::protobuf::Message*, const char*)’:
/home/danish/Downloads/danish/code/TF2/ModelConversion/onnx-tensorrt/onnx_utils.hpp:129:104: **error: no matching function

[2021-08-30 03:28] cuge1995 commented on #611
that works for me

[2021-09-01 15:38] zhaoyiluo opened #736 "Do I have to call initLibNvInferPlugins() even using built-in plugins only?"
## Description

Hi maintainers,

I'm working on a project based on TensorRT named [Forward](https://github.com/Tencent/Forward/blob/master/README_EN.md), especially for the ONNX part. It's about doing inference based on the TensorRT.

Currently, my OnnxEngine does everything well when deployed in C++, parsing from .onnx files, creating the engine, doing the inference, and getting the results.

How